header
  ExcellentCarousel(v-if="['Register', 'Login', 'Reviews', 'SalePage'].indexOf($route.name) < 0").d-none.d-md-block.d-lg-none
  //UpperBar
  LogoLine
  ExcellentCarousel(v-if="['Register', 'Login', 'Reviews', 'SalePage'].indexOf($route.name) < 0").d-md-none
  MessageBlock
