section.staff-picks.py-5
  .container-fluid
    .row
      .col-12.py-5.text-center
        h2.main-header Staff Picks
        p.small Just a few of our favourites to help inspire you.
        hr.short-hr
        .container-fluid.px-0
          .d-flex.flex-wrap
            .col-12.col-sm-4
              router-link(to="/glasses/ray-ban/rx5154-clubmaster-1-2/ss110.02.html")
                img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/banners/home/staff-picks/ray-ban-rx5184.jpg?20170829201433")
            .col-12.col-sm-4
              router-link(to="/sunglasses/polaroid/pld-6003-n/ss2553.02.html")
                img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/banners/home/staff-picks/polaroid-pld-6003.jpg?20170829201433")
            .col-12.col-sm-4
              router-link(to="/glasses/savannah/2439-red-and-black/ss1600.40.html")
                img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/banners/home/staff-picks/savannah-2439-red.jpg?20170829201433")
            .col-12.col-sm-4
              router-link(to="/sunglasses/tiffany-co-/tf4119/ss649.30.html")
                img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/banners/home/staff-picks/tiffany-tf4119.jpg?20170829201433")
            .col-12.col-sm-4
              router-link(to="/glasses/oakley/ox8090-crosslink-mnp-trubridge/ss601.35.html")
                img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/banners/home/staff-picks/oakley-crosslink-trubridge.jpg?20170829201433")
            .col-12.col-sm-4
              router-link(to="/sunglasses/ray-ban/rb3025-aviator-as-worn-by-michael-jackson/ss102.75.html")
                img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/banners/home/staff-picks/ray-ban-rb3025.jpg?20170829201433")
