.guides {
  background-color: #f4f4f5;
  height: auto;
  .guide-wrapper {
    background-color: white;
    margin-bottom: 1rem;
    .text-wrapper {
      height: 110px;
    }
    .big-button {
      color: #d03e00;
    }
  }
}
