section.description
  .container-fluid
    .row
      .col-12.text-center
        br.d-none.d-lg-block
        br.d-none.d-lg-block
        br
        h5.h1 Prescription glasses, with free lenses & coatings
        hr.short-hr.my-4.d-none.d-lg-block
        p.small
          | Buying eyewear from SelectSpecs.com couldn't be simpler, whether you're looking to buy a great pair of Ray-Bans or Oakley’s or are just after a simple budget pair, we have something that will suit your needs.
          br
          br
          |  Search from over 200 budget and designer brands, select a frame that suits, enter your prescription and make your lens choice. Sit back and wait for delivery! Don't forget, we also include&nbsp;
          strong FREE
          |  lenses and coatings* with our glasses and&nbsp;
          strong FREE
          |  worldwide delivery for orders over&nbsp;
          strong {{calculatePrice(2808.0/33.47, false, true)}}
          | .
          br
          br
          |  If you're not sure about buying glasses online, give us a call on (UK) 
          strong
            a(href='tel:03303801190') 03303 801 190
          |  and one of our friendly customer service advisers will be happy to take your order over the phone.
          br
          br
          |  *FREE Lenses based on prescription, frame style and curvature of frame.
          br
          br
          br
          strong Want to visit our Westgate on Sea store?
          br
          |  Great, we'd love to see you! You can find out more about our&nbsp;
          router-link#storeDescLink(to='/store/').blue-ul high street store and opticians here
          | .
        br
    .row
      .col-12.text-center
        ShareButtons
        br
        br
  hr.d-none.d-lg-block
