section.advantages
  .container-fluid
    .row
      .col-12.text-center
        br.d-none.d-lg-block
        br.d-none.d-lg-block
        br
        h5.h1 Ski, Snow and MX goggles now available
        hr.short-hr.my-4.d-none.d-lg-block
        p Looking for a pair of ski goggles for your winter holiday? Perhaps some goggles for motocross or mountain biking?
        br
        p You'll be pleased to know that we have updated our vast catalogue with a new collection goggles from brands including
          | Oakley, Bolle and many more, all at unbeatable low prices. Don't forget, we offer FREE worldwide delivery for orders over {{calculatePrice(2808.0/33.47, false, true)}}.
        br
        p If you'd prefer to order over the phone, give us a call on (UK)
          strong  03303 801 190
          |  where one of our customer service advisers will be happy to assist you.
        br
        p.font-italic *16,000+ reviews on independent review site Trust Pilot.
        br
    .row
      .col-12.text-center
        ShareButtons
        br
        br
  hr.d-none.d-lg-block
