#main-page.page
  PageHeader

  main
    Breadcrumbs.mb-md-3.mb-lg-0
    PageBanner
    ExcellentRating
    QuickLinks.d-none.d-lg-block
    Sales
    ///NavAccordion.d-lg-none
    BrandsCarousel.d-none.d-lg-block.my-4
    BrandsChoice.d-none.d-lg-block
    StaffPicks
    Trivia
    Guides.d-none.d-lg-block
    Description
    TrustpilotWidget

  PageFooter
  ScrollToTop
