section.advantages
  .container-fluid
    .row
      .col-12.text-center
        br.d-none.d-lg-block
        br.d-none.d-lg-block
        br
        h5.h1 Buying Contact Lenses Online
        hr.short-hr.my-4.d-none.d-lg-block
        p.small
          | Not only do we sell a great collection of prescription glasses and sunglasses, we're also a supplier of a wide range of contact lenses. We currently stock a range of daily, weekly and monthly disposable lenses from Bausch & Lomb, Ciba Vision, Cooper Vision and Johnson & Johnson.
          br
          br
          |  We offer a wide variety of disposable lenses, toric lenses for those with an astigmatism, multifocal lenses and a great range or fashionable coloured lenses for those looking to add a sparkle to their eyes.
          br
          br
          |  If you have a keen eye for a bargain, we offer multibuy discounts for those looking to buy a supply of contact lenses.
          br
          br
          |  Not sure about buying your contact lenses online, give us a call on
          strong  +44 (0)3303 801 190
          |  and one of our friendly customer service advisers will be happy to take your order over the phone.
          br
          br
          em
            | Orders are shipped within
            strong  1 - 3 days
            |  upon validation of your prescription.
    .row
      .col-12.text-center
        br
        br
        ShareButtons
        br
        br
