.row
  // Category catalogue
  .col-12.text-center
    h1.catalogue-title Ladies & Women's Prescription Glasses
    p.small.d-none.d-md-inline
      | At SelectSpecs, we have 1000's of beautiful women's frames available at great prices! Whether you're looking for a stylish cat eye or a fashionable wayfarer, you can be sure we will always have something that will suit you and your latest outfit. Upon placing your order, we'll produce your new glasses to your own personal specifications (with the option of free lenses and coatings) all while saving you a small fortune when compared to other opticians and online retailers.
    br
    br
    p.small.d-none.d-md-inline
      strong Popular categories:
      router-link(to='/2for1-glasses/').blue-ul 2nd Pair Free
      |
      router-link(to='/glasses/prescription/wayfarer/c89/').blue-ul Wayfarer Styles
      |
      router-link(to='/glasses/prescription/cat-eye/c279/').blue-ul Cat-Eye Styles
      |
      router-link(to='/glasses/prescription/rimless/c14/').blue-ul Rimless Styles
      |
      router-link(to='/glasses/prescription/varifocal-progressive-multifocal/c82/').blue-ul Suitable for Varifocals
      |
      router-link(to='/glasses/prescription/tiffany-co-/d31593/').blue-ul Tiffany & Co.

  // Brands catalogue
  .col-12.text-center
    h1.catalogue-title Oakley Glasses
    img(src='https://d9qzjwuieyamt.cloudfront.net/res/images/designers/banner_pg/391-oakley-optical-banner-ox8093-1425x290.jpg',
    alt='Oakley Glasses banner').designer-banner.img-fluid
    hr
    p.small
      strong
        | You might also like our
        router-link(to='#').blue-ul Oakley Sunglasses »
    br.d-md-none
