section.col-12.col-md-4.col-lg-3
  .info-sidebar.mb-3
    .d-none.d-md-block
      p.large
        strong
          img(src='https://d9qzjwuieyamt.cloudfront.net/5.2.23/res/images/icons/help/v2_customer-service.png?20171206101624', width='50px')
          |    Contact Us
      br
      p
        strong Call Centre:
        |  03303 801 190
      p.small Mon. to Fri. 9am - 5.30pm
      p.small Sat & Sun: Closed
      p.smallest.red
        em Our call centre will be closed on Saturday's until further notice.
      br
      p
        strong Fax:
        |  01843 833247
      br
      p
        strong
          router-link#customerServiceHelpLink(to='/customer-services/', rel='nofollow').btn.dark-button Email & Support »
      br
      p.smallest
        em (Email support available Monday to Friday)
      hr
      p.large
        strong
          img(src='https://d9qzjwuieyamt.cloudfront.net/5.2.23/res/images/icons/help/v2_store-collect.png?20171206101624', width='50px')
          |    Shop In Store
      br
      p 37 Station Road
      p Westgate on Sea
      p Kent, UK
      p CT8 8QY
      br
      p
        strong Monday to Saturday
      p.small 9am - 5pm
      br
      p
        strong Sunday
      p.small Closed
      br
      p
        strong
          router-link#storeHelpLink(to='/store/').btn.dark-button Visit Store »
      hr
      p
        strong UK Head Office
      p Lockwoods Yard
      p Westgate on Sea
      p Kent, UK
      p CT8 8AS
      br
      p
        strong VAT No:
        |  GB876-096-186
      p
        strong UK Company Reg:
        |  6435182
      p
        strong FSB UK Membership:
        |  2049720
    .d-md-none.text-center
      p
        strong Shop In Store
      p 37 Station Road
      p Westgate on Sea
      p Kent, UK
      p CT8 8QY
      br
      p
        strong Monday to Saturday:
        |  9am - 5pm
      p
        strong Sunday:
        |  Closed
      hr
      p
        strong UK Head Office
      p Lockwoods Yard
      p Westgate on Sea
      p Kent, UK
      p CT8 8AS
      br
      p.small
        strong VAT No:
        |  GB876-096-186
      p.small
        strong UK Company Reg:
        |  6435182
      p.small
        strong FSB UK Membership:
        |  2049720

