.page-preview
  .feat-kids-sun
  .description
    .container-fluid
      .row
        .col-12.text-center
          br
          h1.super-heading Kids & Children's Sunglasses
          p.large
            | As parents, the health, safety and well-being of our children is essential and in the summer the sun is a danger that shouldn't be ignored.  That's why we at SelectSpecs.com believe that protecting the eyes of our young ones is just as essential as protecting their skin from UV damage with sun screen.
          br
          p
            | We offer a great value collection including sunglasses from fashion labels such as Ray-Ban, Police and Bolle.  All our sunglasses include&nbsp;
            strong UV400 protection
            |  and we highly recommend polarised lenses for the ultimate protection of your childrens eyes where possible.
          br
          p
            router-link#kidsSunLink(to='/sunglasses/designer/kids/c161/').btn.big-button Shop Kids Sunglasses »
          br
          ShareButtons
          br
  hr
  .starter-advice
    .container-fluid
      .row
        .col-12.text-center
          br
          h2.title When should my child start wearing sunglasses?
          br
          p
            | We would recommend children wear sunglasses from an early age to protect their sensitive eyes from the sun's strong UV rays which will help prevent problems like cataracts and macular degeneration occurring later on in life.  However, trying to keep sunglasses on a baby may prove difficult and uncomfortable for them therefore they will try to pull the sunglasses off at the first opportunity!  Instead, it may be preferable to try a visor or a wide brimmed hat to protect your child's eyes and face from UV damage until they are comfortable wearing sunglasses.
          br
