section.staff-picks.pt-4.pb-2.py-lg-5
  .container-fluid
    .row
      .col-12.text-center
        h2.main-header Staff Picks
        p.small.d-none.d-lg-inline Just a few of our favourites to help inspire you.
        hr.short-hr.d-none.d-lg-block
        .container-fluid.d-none.d-lg-block.px-0
          .row.mb-3
            .col-12.col-md-4
              router-link(to="/sunglasses/polaroid/pld-6003-n/ss2553.02.html")
                img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/banners/home/staff-picks/polaroid-pld-6003.jpg?20171114194644", alt='Polaroid PLD 6003')
            .col-12.col-md-4
              router-link(to="/sunglasses/tiffany-co-/tf4119/ss649.30.html")
                img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/banners/home/staff-picks/tiffany-tf4119.jpg?20171114194644", alt='Tiffany & Co. TF4119')
            .col-12.col-md-4
              router-link(to="/sunglasses/ray-ban/rb3025-aviator-as-worn-by-michael-jackson/ss102.75.html")
                img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/banners/home/staff-picks/ray-ban-rb3025.jpg?20171114194644", alt='Ray-Ban 3025 Aviator')
            .col-12.col-md-4
              router-link(to="/sunglasses/oakley/oo9135-jupiter-squared-standard/ss621.19.html")
                img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/banners/home/staff-picks/oakley-jupiter-squared.jpg?20171114194644", alt='Oakley Jupiter Squared')
            .col-12.col-md-4
              router-link(to="/sunglasses/oliver-peoples/ov5219s-fairmont-sun/ss2826.56.html")
                img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/banners/home/staff-picks/oliver-peoples-fairmont.jpg?20171114194644", alt='Oliver Peoples Fairmont')
            .col-12.col-md-4
              router-link(to="/sunglasses/michael-kors/0mk2023-adrianna-iii/ss2810.64.html")
                img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/banners/home/staff-picks/michael-kors-adrianna-iii.jpg?20171114194644", alt='Michael Kors Adrianna III')

        //Slick(aria-label='Featured Glasses', ref="slick", :options="slickOptions").d-lg-none
        //  router-link(to="/sunglasses/polaroid/pld-6003-n/ss2553.02.html")
        //    img.img-fluid.mx-auto(src='https://d9qzjwuieyamt.cloudfront.net/res/images/banners/home/staff-picks/polaroid-pld-6003.jpg?20171114194644', alt='Polaroid PLD 6003')
        //  router-link(to="/sunglasses/tiffany-co-/tf4119/ss649.30.html")
        //    img.img-fluid.mx-auto(src='https://d9qzjwuieyamt.cloudfront.net/res/images/banners/home/staff-picks/tiffany-tf4119.jpg?20171114194644', alt='Tiffany & Co. TF4119')
        //  router-link(to="/sunglasses/ray-ban/rb3025-aviator-as-worn-by-michael-jackson/ss102.75.html")
        //    img.img-fluid.mx-auto(src='https://d9qzjwuieyamt.cloudfront.net/res/images/banners/home/staff-picks/ray-ban-rb3025.jpg?20171114194644', alt='Ray-Ban 3025 Aviator')
        //  router-link(to="/sunglasses/oakley/oo9135-jupiter-squared-standard/ss621.19.html")
        //    img.img-fluid.mx-auto(src='https://d9qzjwuieyamt.cloudfront.net/res/images/banners/home/staff-picks/oakley-jupiter-squared.jpg?20171114194644', alt='Oakley Jupiter Squared')
        //  router-link(to="/sunglasses/oliver-peoples/ov5219s-fairmont-sun/ss2826.56.html")
        //    img.img-fluid.mx-auto(src='https://d9qzjwuieyamt.cloudfront.net/res/images/banners/home/staff-picks/oliver-peoples-fairmont.jpg?20171114194644', alt='Oliver Peoples Fairmont')
        //  router-link(to="/sunglasses/michael-kors/0mk2023-adrianna-iii/ss2810.64.html")
        //    img.img-fluid.mx-auto(src='https://d9qzjwuieyamt.cloudfront.net/res/images/banners/home/staff-picks/michael-kors-adrianna-iii.jpg?20171114194644', alt='Michael Kors Adrianna III')
  hr.d-lg-none
