section.trustpilot-line
  .container-fluid
    .row
      .col-12
        .trustpilot-widget(data-locale='en-GB', data-template-id='539adbd6dec7e10e686debee', data-businessunit-id='4851647e000064000502ae88', data-style-height='1400px', data-style-width='100%', data-schema-type='Organization', data-stars='4,5', style='position: relative;')
          iframe(frameborder='0', scrolling='no', title='Customer reviews powered by Trustpilot', src='https://widget.trustpilot.com/trustboxes/539adbd6dec7e10e686debee/index.html?locale=en-GB&templateId=539adbd6dec7e10e686debee&businessunitId=4851647e000064000502ae88&styleHeight=1400px&styleWidth=100%25&schemaType=Organization&stars=4%2C5',
          style='position: relative; height: 1400px; width: 100%; border-style: none; display: block; overflow: hidden;')
        br
