#termsInfoModal(tabindex='-1', role='dialog', aria-hidden='true').modal
  .modal-dialog(role='document')
    .modal-content(style="height:520px;")
      .modal-header.mb-3
        button(type='button',
        data-dismiss='modal',
        aria-label='Close').close
          span ×
      .modal-body.text-left
        p
          strong SUMMARY
          br
          br
          |  Please read the following Terms and Conditions before placing your order. When you place an order you will be asked to confirm that you have read and agreed to these Terms and Conditions. You will not be able to proceed with the order if you do not agree to these Terms and Conditions. The contract is between you and HK Optics Limited (a company registered in Hong Kong under company number 2167060) trading as “SelectSpecs” (“we” or “us”). If your order is accepted, these terms and your order form will together form a legally binding contract between you and the buyer or customer. A contract will be made when we accept an order, and acceptance will be by way of emailed confirmation of acceptance.
          br
          br
          |  Where an order is placed through our website, you should keep a copy of the order and these Terms and Conditions.
          br
          br
          |  The contract between you and us will consist of the order, our confirmation of the order and these Terms and Conditions. The Buyer should therefore keep a copy of the order when the Buyer receives it and these Terms and Conditions.
          br
          br
          |  The main characteristics of the goods and services ordered by you (the ”Products”), the price of the Products and the delivery charge for shipping and packing are stated on our website or specified in your order form before you confirm your purchase. The “Contract Price” will be the price and delivery charge as stated on the website at the time of the order, plus applicable VAT and/or sales or other taxes. The description of the Products and the Contract Price will be stated in the order and confirmed in the confirmation of your order. You will be required to pay the Contract Price in full before the Products are dispatched to you.
          br
          br
          |  We can be contacted by writing to our UK agent at Lockwoods Yard, The Grove, Westgate on Sea, Kent, CT8 8AS, United Kingdom; or by fax to +44-(0)1843 833247; or by email via our Contact Us page. The registered office for HK Optics Limited is HK Optics Limited, Suite 7B, 7/F Pico Tower 66, Gloucester Road, Wanchai, Hong Kong.
          br
          br
          strong 1.  CONTRACT:
          |  These Terms and Conditions apply to any contract for the sale of Products by us to you. They apply to a consumer sale where you are a person who is not entering into the contract for a commercial purpose in the course of a business. You and us are referred to together as “the Parties”. All references to “Paragraphs” relate to Paragraphs in these Terms and Conditions.
          br
          br
          strong 2.  ACCEPTANCE OF AN ORDER:
          |  For the purposes of contract law, the advertising or display of information relating to any Products on our website is not an offer for sale but an invitation to you to offer to buy those Products. The placing of an order is treated as an offer to buy the Products stated in the order. We do not enter into a contract until you accept an order. Acceptance will occur when we send confirmation to you of acceptance of your order.
          br
          br
          strong 3.  CONTRACT DOCUMENTS:
          |  The contract will consist of the order, our confirmation of the order and these Terms and Conditions. If you wish to change any matter or information stated in the order or which is set out in our confirmation of the order, you must contact us by email as soon as possible after receiving the confirmation, since any change will be a variation of the contract which will require the agreement of each of us. We reserve the right to refuse any such request (e.g. because we have already have begun to process the order). You must notify us of any change of address by email as soon as possible if you wish to change the address for delivery. Changes in the delivery address cannot be guaranteed as this will be influenced by the progress of your order at the time.
          br
          br
          strong 4.  STATUS OF BUYER:
          |  You must be at least 16 years of age in order to enter into a contract with us. For the purchase of prescription spectacles or lenses, you must not be registered blind or partially sighted, and must not order on behalf of any person who is under 16 years of age.
          br
          br
          strong 5.  DESCRIPTION OF PRODUCTS:
          |  The main characteristics of the Products are stated on our website. For the purposes of the contract, the Products will be identified in the order and the description will be taken to include the main characteristics stated on our website.
          br
          br
          strong 6.  PRESCRIPTIONS FOR SPECTACLE LENSES AND CONTACT LENSES:
          |  In cases where you are ordering prescription glasses, or prescription lenses to be fitted into the your existing glasses or contact lenses, you must provide us with complete and accurate details of the prescription for each lens and any other details or notes that have been included in a prescription given to you by a registered medical practitioner, registered ophthalmic optician or registered optometrist. The prescription must have been given to you following a sight test within the last two years. If you are not sure of the appropriate prescription for each lens, you must consult a registered medical practitioner, registered ophthalmic optician or registered optometrist before placing an order. For spectacles you must provide us with an accurate measurement of the pupillary distance for the spectacles. We may require you to provide us with a copy of your prescription at any stage during the performance of the contract, including the time when we process the order or consider any claim by you that the Products have been damaged in transit or delivered in a defective condition or that for any other reason they do not comply with the requirements of the contract. In all cases the prescription details stated by you in the order will be used in making the lenses unless we agree to an amendment. If you are ordering contact lenses for a period, the relevant prescription must not expire during the period for which you have placed an order. You will not be permitted to purchase contact lenses for a period of more than six months.
          br
          br
          strong 7.  CHANGES IN ADVERTISED PRICES:
          |  Prices stated on our website or in any advertising material published by us may be altered by us at any time.
          br
          br
          strong 8.  CONTRACT PRICE:
          |  The “Contract Price” will generally be the price of the Products as stated on our website at the time when you place the order, plus our shipping charge for shipping, packing and delivery by means of the appropriate shipping service depending on the location of the place where the Products are dispatched and the address for delivery, and Value Added Tax where applicable at the rate applying at that time. Having regard to the large volume of items listed on the website, it is not possible for us to avoid a mistake occurring in the statement of the price from time to time. We takes all reasonable action to ensure that prices stated on the website are accurate. In the event of any accidental error in stating the price, we will be under no obligation to fulfil the order at that price. We will inform the Buyer of the mistake as soon as possible and you will have the option of confirming the order at the correct price or cancelling the order. In the event of such cancellation, we will refund any payment made by the Buyer promptly in full.
          br
          br
          strong 9.  PAYMENT:
          |  You must pay the Contract Price in full in cleared funds before the Products are dispatched to you. We will be entitled to full payment even though the ownership of the Products has not yet passed to you.
          br
          br
          strong 10.  METHOD OF PAYMENT:
          |  Payment may be made by any means of payment which is stated on our website as being acceptable. Where you provide information for payment by debit card or credit card or other electronic means of payment, we may take payment of the Contract Price when the Products are ready to be dispatched and will send written confirmation to you that the payment has been taken.
          br
          br
          strong 11.  AVAILABILITY:
          |  All products advertised on website are subject to availability. If, for any reason, we are not able to supply the Products specified in the order because the Products are no longer available, you will not be charged for the Products and we will refund any payment of the Contract Price already made by you. In those circumstances we will not be liable to make any other payment to you and in particular will not be liable for any loss or damage suffered by you as a result of the failure to supply the Products. Alternatively, we may offer and you may agree to accept alternative Products by way of a variation of the contract, including any consequent variation to the Contract Price. The above provisions of this Paragraph also apply where a product is advertised on the website as being of limited availability at a specially discounted price and supplies of such a product are no longer available to us from the manufacturer or supplier at a reduced price. In such a case, you may have the option of purchasing similar or other Products at the normal price or receiving a refund.
          br
          br
          |  Where you provide us with your existing glasses for to fit new prescription lenses into the frames, we give no undertaking that the lenses requested by you can be fitted into those frames. If it appears to, on examining your existing glasses, that the lenses requested cannot be fitted or are otherwise not suitable for those frames, and we do not agree that other lenses or any other Products will be supplied by way of variation of the contract, we will return your existing glasses to you at our own cost, unless it was unreasonable for you to request the lenses specified in the order. If it was unreasonable for you to do so, we will be entitled to charge you for our reasonable shipping costs in returning the frames to you by means of an appropriate shipping service determined by us. In all cases, we will not be obliged to refund the shipping costs paid by you in sending your existing glasses to us for new prescription lenses to be fitted, whether new lenses are fitted or not.
          br
          br
          strong 12.  CHANGES MADE BY MANUFACTURER:
          |  We will take all reasonable steps to ensure that the Products supplied to you match their description. However, we might be unable to supply Products of that description because of changes made by the manufacturer which are beyond our control. The following provisions will then apply:-
          br
          br
          strong (A)
          |  If the manufacturer makes any minor change in the design or technical specification of the Products, which might be done, for example, to improve the construction or performance of the Products, we may supply the Products as changed even though they do not correspond exactly with the description specified in the order, provided that there is no significant difference in the appearance, performance or quality of the Products supplied, that they are equivalent for all purposes in using the Products, that they are of equivalent or superior value and that there is no increase in the Contract Price. In these circumstances, we will inform you of the minor change made by the manufacturer and you will be bound to accept the Products as changed, subject to your right to cancel the contract in accordance with these terms
          br
          br
          strong (B)
          |  If the manufacturer makes any significant change in the design or technical specification of the Products which prevents us from supplying Products which correspond exactly with the description specified in the order, we may offer you similar Products as an alternative, provided that the alternative Products are of equivalent standard of performance and quality and that they are equivalent for all purposes in using the Products. In these circumstances, we will inform you as soon as reasonably practicable once we are aware of the change. If you are not willing to accept alternative Products, you will not be charged for the Products and we will refund any payment of the Contract Price already made by you. If you choose to receive alternative Products of a higher or lower price than the Products originally ordered, you will pay an appropriate further sum to us or we will refund an appropriate sum to you . You will still have the right to cancel the contract where that right is available to you under these terms.
          br
          br
          strong 13.  DELIVERY DATE:
          |  We will take all reasonable steps to ensure that the Products are delivered to you as soon as they are available and in any event within 30 days after acceptance of the order. However, delays may occur in obtaining the Products from the manufacturer or supplier, or in producing prescription glasses or lenses, for reasons which are outside our control. If we becomes aware of any matter which indicates that delivery may be delayed beyond the period of 30 days after acceptance of the order, we will immediately inform you within that period. In any case where we expect that delivery can be achieved within 45 days after acceptance of the order, we may extend the latest date for delivery to 45 days on notifying you, without requiring your agreement at that stage. In any other case, we may invite you to agree to a period for delivery longer than 45 days. If a longer period is agreed, we will send notice of confirmation of the agreement to the you . If you are not willing to accept a longer period, you may cancel the contract and in those circumstances you will not be charged for the Products and we will refund any payment of the Contract Price already made by you.
          br
          br
          strong 14.  DELIVERY:
          |  All designer brand name products are shipped from United Kingdom and no extra VAT or taxes are payable for delivery of these products within the EU. However, all promotional and budget products are shipped to you directly from Hong Kong so, where applicable, you will be treated as the private importer of these products and you will be responsible for payment of any import duties or taxes. Buyers in countries outside of the EU will be responsible for any payment that may be due for local import duties or taxes on all Products. We will notify you when the Products are ready to be dispatched. We will ensure that they are packed safely and securely to protect them in transit and that they are marked in a proper manner and in accordance with any legal requirements and any requirements of the carrier. The Products will normally be sent by the appropriate shipping service depending on the location of the place where they are dispatched and the place where they are to be delivered. Delivery will be taken to have occurred when the Products are delivered to the address stated by you in your order.
          br
          br
          strong 15.  OWNERSHIP AND RISK:
          |  All risk as to loss of or damage to the Products will pass to you on delivery to the address stated in the order. Legal ownership of the Products will pass to you immediately before we despatch the product provided that we have received payment of the Contract Price in full in cleared funds and no other payments are outstanding from you in respect of any other Products supplied by us. In a case where you provide us with your existing glasses for us to measure the pupillary distance, or for us to fit new prescription lenses into the frames, the risk as to loss of or damage to those glasses or frames remains your risk unless we have failed to take reasonable care of them. You must recognise that, since spectacle frames which are not new are more brittle or more fragile than new frames, breakages can occur when fitting new lenses into them. We will only be liable to compensate you for loss of or damage to your existing glasses or frames if we have failed to take reasonable care in handling them or in fitting new lenses, or have failed to ensure that they are packed safely and securely to protect them in transit when returning them to you. In all cases, we will not be obliged to refund the shipping costs paid by the Buyer in sending his existing glasses to us, whether this is done for us to measure the pupillary distance, or to fit new prescription lenses, or for any other reason.
          br
          br
          strong 16.  EXAMINATION ON DELIVERY:
          |  You must examine the Products as soon as reasonably practicable after delivery and preferably within 3 working days to check that they are the correct Products and are not damaged or defective. If the Products appear to be damaged, defective or incorrect, you must not use them. You must inform us as soon as reasonably practicable and in any event within 30 days and must return them us in accordance with these terms and conditions.
          br
          br
          strong 17.  DAMAGE OR LOSS IN TRANSIT:
          |  You must inform us as soon as reasonably practicable if the Products are not delivered by the expected date or if they appear to have been damaged in the course of delivery to you. In the case of Products which appear to be damaged, you must return the Products to us (at our UK agent’s address) together with all the original packaging. We will examine the Products and if we accept that they were damaged in transit, we will repair or replace the Products (at our option) without charge and will refund the reasonable postage costs paid by you in returning them to us. In the case of Products which appear to have been lost in transit, you will be required to complete a non-delivery report form provided by us. We will investigate the matter and may make inquiries with the carrier to determine whether the Products have been lost. If we find that the Products have been lost in transit, we will replace them without charge, except in cases where Paragraph 11 (Availability) or Paragraph 12 (Changes made by Manufacturer) apply, in which case the provisions of those Paragraphs will apply, or where we agree that we will refund any payment of the Contract Price already made by you instead of replacing the lost Products.
          br
          br
          strong 18.  MANUFACTURER’S WARRANTY:
          |  We will supply the Products to you with the benefit of any warranty given by the manufacturer. The terms of any such warranty will be taken to be included in the contract between us and you. Any Products which fail to meet the standards provided by the manufacturer’s warranty must be returned to us, at our expense by refunding the reasonable postage costs paid by you, for repair, replacement or refunding the Contract Price in accordance with the terms of the warranty. If the Products are not defective within the terms of the warranty, they will be returned to you at your expense, unless any other provisions of these Terms and Conditions give you a right to reject the Products or to cancel the contract.
          br
          br
          strong 19.  QUALITY AND FITNESS:
          |  The Products will be of reasonable quality, will meet their description and will be fit for the purposes for which Products of the kind in question are normally supplied. The quality of the Products includes their state and condition, appearance and finish, freedom from minor defects, durability and safety. we do not provide any services by way of maintenance or repair of the Products once they have been supplied to you in good condition and in compliance with all other requirements of the contract. We will not be liable for any damage to the Products caused by any misuse, mistreatment or other failure to take care of the Products by you or any other person following delivery.
          br
          br
          strong 20.  REJECTION BY REASON OF DEFECTS:
          |  You may reject the Products in the case of any defect in workmanship or materials or any other matter resulting in the Products not being of satisfactory quality or reasonably fit for the purpose for which such Products are normally supplied, or in the event that the Products do not comply with the requirements of the contract in any other respect, including any failure to correspond with the description required by the contract. In the case of prescription glasses or lenses, this includes any case where it appears to you that the prescription of the lenses does not match the prescription stated in the order. If you consider that the Products are defective or do not comply with the requirements of the contract, you must inform us as soon as reasonably practicable after discovering the defect and in any event within 30 days of receiving the Products (if the defect would be apparent from an inspection).
          br
          br
          strong 21.  RETURN OF REJECTED PRODUCTS:
          |  If you reject the Products in accordance with Paragraph 24, you must return them to us as soon as reasonably practicable after discovering the defect. If you are found to be entitled to a refund of the Contract Price, we will refund the reasonable shipping costs paid by you in returning the Products to us.
          br
          br
          strong 22.  EXAMINATION OF REJECTED PRODUCTS:
          |  We will examine the Products as soon as reasonably practicable after they have been returned by you. If it appears to us, or any expert consulted by us, that there was no defect in the Products or failure to comply with the requirements of the contract when they were delivered to you and you disagree with that opinion, the Parties may appoint an independent expert to examine the Products and report to the Parties as to the condition of the Products or any other matter which caused you to reject them.
          br
          br
          strong 23.  REFUND IN THE CASE OF DEFECTIVE PRODUCTS:
          |  Where we agree that the Products were defective or failed to comply with the requirements of the contract when they were delivered to you, or an independent expert appointed by the Parties reports that they were defective or failed to comply with the requirements of the contract, we will refund the full Contract Price to you promptly and in any event within 30 days after the Products are confirmed as defective by us or by the independent expert. This right of refund does not apply to prescription glasses or new prescription lenses fitted to your existing frames in which case the Products will be refunded or repaired or replaced at our option. We will also refund the reasonable postage costs paid by you in returning the Products to us.
          br
          br
          strong 24.  REPAIR OR REPLACEMENT OF DEFECTIVE PRODUCTS:
          |  This Paragraph applies as an alternative to a refund of the Contract Price. At your option we may repair the Products, replacing any part as necessary, where it is practicable for us to do so, and return the Products to you. If the Products supplied are prescription glasses or new prescription lenses fitted to the your existing frames, at our option, we may refund or repair or replace the defective Products and return the Products to you. As a further alternative, at your option, we may replace the defective Products with other Products which comply with the requirements of the contract, where such Products are available to us, or with any other Products which are available to us and acceptable to you. If you choose to receive replacement Products of a higher or lower price than the Products originally ordered under the contract, you will pay an appropriate further sum to us or we will refund an appropriate sum to you. Where the Products are repaired or replaced under this Paragraph, we will refund the reasonable shipping costs paid by the Buyer in returning the Products to us and will pay the cost of returning the repaired Products or delivering replacement Products to you.
          br
          br
          strong 25.  CANCELLATION OF CONTRACT:
          |  You have a right to cancel your contract within 14 days without giving any reason (whether or not the products are faulty). The cancellation period will start on the day you place your order and will end 14 days after you have taken physical possession of the Products.
          br
          br
          |  To exercise the right to cancel, you must inform us by writing to the following; SelectSpecs, Lockwoods, Yard, Westgate-on-Sea, Kent, CT8 8AS, United Kingdom or emailing us at: Contact Us of your decision to cancel this contract by a clear statement (e.g. a letter sent by post or email).
          br
          br
          |  To meet the cancellation deadline it is sufficient for you to send your communication concerning your exercise of the right to cancel before the cancellation period has expired.
          br
          br
          |  If you cancel your contract, we will reimburse to you all payments received from you, including the costs of delivery (except for additional costs arising if you choose an enhanced delivery option other than the least expensive type of standard delivery offered by us). We may make a deduction from the reimbursement for loss in value of any Products supplied, if the loss is the result of unnecessary handling by you.
          br
          br
          |  We will make the reimbursement without undue delay. We will make the reimbursement using the same means of payment as you used for the initial transaction, unless you have expressly agreed otherwise; in any event, you will not incur any fees as a result of the reimbursement. We may withhold reimbursement until we have received the Products back or you have supplied evidence of having sent back the Products, whichever is the earliest.
          br
          br
          |  You agree to send back the Products without undue delay and in any event not later than 14 days from the day on which you inform us that you wish to cancel. The deadline is met if you send back the Products before the period of 14 days expires. You will have to bear the cost of shipping the Products to us.
          br
          br
          |  You are only liable for any reduced value of the Products resulting from your handling of the Products if that handling goes further than is necessary in order for you to establish the nature, characteristics and functioning of the Products.
          br
          br
          |  Where Products have been personalised to your requirements (e.g. prescription lenses) or the Products have a hygiene element then you will not be entitled to cancel the contract unless the Products are defective. The right to cancel the contract therefore does not apply to any prescription glasses to be provided by us or any new prescription lenses to be fitted to your existing spectacle frames.
          br
          br
          |  If you wish to cancel the order in the case of any prescription glasses or lenses, where the right of cancellation does not apply, or if you wish to change the order in such a case, you will be liable to pay us the full cost of the lenses if work has already begun in producing the lenses, or a reasonable proportion of the cost if the order process has already started, so as to compensate us for the actual and reasonable costs incurred in proceeding with the order.
          br
          br
          |  Your right is to cancel your entire order in the case of Products which are not faulty and we reserve the right to refuse partial cancellations or returns for Products which are not faulty.
          br
          br
          strong 26.  PATENTS AND TRADE MARKS:
          |  We will take all necessary action to ensure that the sale of the Products to you will not infringe any third party’s intellectual property rights, namely any patents, trade marks, service marks, design rights, copyright, trade or business names or other similar rights, whether or not such rights are registrable in the United Kingdom.
          br
          br
          strong 27.  PERSONAL INJURY LIABILITY:
          |  We will pay appropriate compensation in respect of any death or personal injury which is caused by any defect in the Products or any negligent or other unlawful act or omission by us.
          br
          br
          strong 28.  GENERAL LIABILITY OF SELECTSPECS:
          |  We will be liable for any losses or expenses reasonably incurred by you which are the reasonably foreseeable result of a breach of these Terms and Conditions by us or any other unlawful act or omission by us. In the case of any defect in the Products where no personal injury is caused, our liability will be limited to the full Contract Price and the refund of any reasonable postage costs paid by the Buyer in returning the Products. We will not be liable for any indirect loss such as any additional costs incurred by you in obtaining another product from another source, or any other loss or expenses incurred by you by being prevented from using the Products from the expected date of delivery or at any time after that date. Refunds will be by the same method of payment made by you when paying for the original order.
          br
          br
          strong 29.  CONFIDENTIALITY:
          |  We will treat as confidential all information obtained from the Buyer in placing an order and in the course of the contract. we will not disclose any of that information to any third party without your prior written consent, except to such persons and to such extent as may be necessary for the proper performance of the contract or compliance with any other legal obligation. We will not use any of that information, without your prior written consent, otherwise than for the purposes of the contract. Please note that your personal information may be supplied to our delivery and fulfillment partners (including our UK agent Select Specs Limited) in order to fulfill your order.
          br
          br
          strong 30.  NOTICES:
          |  Any written notice or notification to given between the Parties under these Terms and Conditions may be delivered by hand or sent by pre-paid first class post or by facsimile transmission or electronic mail. It will be treated as given on the day when the Party concerned delivers it by hand, posts it, or sends it by fax to the correct fax number of the other Party or by email to the correct email address of the other Party.
          br
          br
          strong 31.  VARIATION:
          |  These Terms and Conditions will not be varied unless the variation is agreed by both Parties. So far as possible, any variation will be set out or confirmed in writing between the Parties.
          br
          br
          strong 32.  THIRD PARTIES:
          |  No person other than us and you has any right to enforce the Contract.
          br
          br
          strong 33.  AMENDING THE TERMS OF CONTRACT:
          |  If any provision in these Terms and Conditions is declared by any court or other competent authority to be void, illegal or otherwise unenforceable, the Parties may amend that provision in a reasonable manner to achieve the original intention of the Parties without any illegality. Alternatively, at our discretion, any such provision may be removed from these Terms and Conditions and the remaining provisions will remain in full force and effect.
          br
          br
          strong 34.  APPLICABLE LAW:
          |  This agreement and any disputes or claims arising out of it shall be governed by and construed in all respects in accordance with the laws of Hong Kong.
          br
          br
          strong 35.  COMPLAINTS:
          |  You may make any complaint to us concerning the performance of the contract by writing to our UK agent at its business address, SelectSpecs Limited, Lockwoods Yard, The Grove, Westgate on Sea, Kent, CT8 8AS, United Kingdom; or by fax to +44-(0)1843 833247 or email via our Contact Us page
          br
