#at15s.atm(onmouseover='_atw.xwa()', onmouseout="if (this.className.indexOf('border')==-1) addthis_close()", style='z-index: 1000000; position: absolute; visibility: visible; top: 2593.19px; left: 707.828px; display: block;')
  .atm-i
    #at15s_head(style='display: none;')
      span#at15ptc Bookmark & Share
      span#at15s_brand.at15s_brandx
      a#at15sptx(href='#', tabindex='9000', onclick='return _atw.clb()', onkeydown='if(!e){var e = window.event||event;}if(e.keyCode){_ate.maf.key=e.keyCode;}else{if(e.which){_ate.maf.key=e.which;}}if(_ate.maf.key==9){ addthis_close(); _ate.maf.sib.tabIndex=9001;_ate.maf.sib.focus();}else{/*alert(_ate.maf.key)*/} _ate.maf.key=null') X
    #at_hover.atm-s(style='display: block;')
      a#atic_pinterest_share(href='#')
        span.at-icon-wrapper(style='background-color: rgb(203, 32, 39);')
          svg.at-icon.at-icon-pinterest_share(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 32 32', version='1.1', role='img', aria-labelledby='at-svg-pinterest_share-6', title='Pinterest', alt='Pinterest')
            title#at-svg-pinterest_share-6 Pinterest
            g
              path(d='M7 13.252c0 1.81.772 4.45 2.895 5.045.074.014.178.04.252.04.49 0 .772-1.27.772-1.63 0-.428-1.174-1.34-1.174-3.123 0-3.705 3.028-6.33 6.947-6.33 3.37 0 5.863 1.782 5.863 5.058 0 2.446-1.054 7.035-4.468 7.035-1.232 0-2.286-.83-2.286-2.018 0-1.742 1.307-3.43 1.307-5.225 0-1.092-.67-1.977-1.916-1.977-1.692 0-2.732 1.77-2.732 3.165 0 .774.104 1.63.476 2.336-.683 2.736-2.08 6.814-2.08 9.633 0 .87.135 1.728.224 2.6l.134.137.207-.07c2.494-3.178 2.405-3.8 3.533-7.96.61 1.077 2.182 1.658 3.43 1.658 5.254 0 7.614-4.77 7.614-9.067C26 7.987 21.755 5 17.094 5 12.017 5 7 8.15 7 13.252z', fill-rule='evenodd')
        span.at-label.at-size-16 Pinterest
      a#atic_gmail(href='#')
        span.at-icon-wrapper(style='background-color: rgb(219, 68, 55);')
          svg.at-icon.at-icon-gmail(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 32 32', version='1.1', role='img', aria-labelledby='at-svg-gmail-7', title='Gmail', alt='Gmail')
            title#at-svg-gmail-7 Gmail
            g
              g(fill-rule='evenodd')
              path(opacity='.3', d='M7.03 8h17.94v17H7.03z')
              path(d='M7.225 8h-.41C5.815 8 5 8.84 5 9.876v13.248C5 24.16 5.812 25 6.815 25h.962V12.714L16 19.26l8.223-6.546V25h.962C26.188 25 27 24.16 27 23.124V9.876C27 8.84 26.186 8 25.185 8h-.41L16 15.506 7.225 8z')
        span.at-label.at-size-16 Gmail
      a#atic_google_plusone_share(href='#')
        span.at-icon-wrapper(style='background-color: rgb(220, 78, 65);')
          svg.at-icon.at-icon-google_plusone_share(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 32 32', version='1.1', role='img', aria-labelledby='at-svg-google_plusone_share-8', title='Google+', alt='Google+')
            title#at-svg-google_plusone_share-8 Google+
            g
              path(d='M12 15v2.4h3.97c-.16 1.03-1.2 3.02-3.97 3.02-2.39 0-4.34-1.98-4.34-4.42s1.95-4.42 4.34-4.42c1.36 0 2.27.58 2.79 1.08l1.9-1.83C15.47 9.69 13.89 9 12 9c-3.87 0-7 3.13-7 7s3.13 7 7 7c4.04 0 6.72-2.84 6.72-6.84 0-.46-.05-.81-.11-1.16H12zm15 0h-2v-2h-2v2h-2v2h2v2h2v-2h2v-2z', fill-rule='evenodd')
        span.at-label.at-size-16 Google+
      a#atic_linkedin(href='#')
        span.at-icon-wrapper(style='background-color: rgb(0, 119, 181);')
          svg.at-icon.at-icon-linkedin(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 32 32', version='1.1', role='img', aria-labelledby='at-svg-linkedin-9', title='LinkedIn', alt='LinkedIn')
            title#at-svg-linkedin-9 LinkedIn
            g
              path(d='M26 25.963h-4.185v-6.55c0-1.56-.027-3.57-2.175-3.57-2.18 0-2.51 1.7-2.51 3.46v6.66h-4.182V12.495h4.012v1.84h.058c.558-1.058 1.924-2.174 3.96-2.174 4.24 0 5.022 2.79 5.022 6.417v7.386zM8.23 10.655a2.426 2.426 0 0 1 0-4.855 2.427 2.427 0 0 1 0 4.855zm-2.098 1.84h4.19v13.468h-4.19V12.495z', fill-rule='evenodd')
        span.at-label.at-size-16 LinkedIn
      a#atic_mailto(href='#')
        span.at-icon-wrapper(style='background-color: rgb(88, 88, 88);')
          svg.at-icon.at-icon-mailto(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 32 32', version='1.1', role='img', aria-labelledby='at-svg-mailto-10', title='Email App', alt='Email App')
            title#at-svg-mailto-10 Email App
            g
              g(fill-rule='evenodd')
              path(d='M26.684 23.264H4.948v-12.88l.2-.1c.303-.202 7.046-4.73 8.152-5.435 1.41-.907 3.22-.806 4.63.1 1.308.804 8.453 5.333 8.453 5.333l.2.1.1 12.88zm-20.63-1.006H25.68v-11.27c-1.207-.806-7.044-4.53-8.252-5.133-1.107-.704-2.515-.704-3.622-.1-1.007.603-6.743 4.528-7.95 5.232.2.1.2 11.27.2 11.27z')
              path(d='M21.753 16.622H10.08a1.59 1.59 0 0 1-1.61-1.61v-3.02c0-.905.704-1.61 1.61-1.61h11.673c.906 0 1.61.705 1.61 1.61v3.02a1.59 1.59 0 0 1-1.61 1.61zM9.98 11.49c-.404 0-.605.302-.605.604v3.02c0 .4.302.603.604.603H21.65c.403 0 .604-.302.604-.604v-3.02c0-.402-.302-.603-.604-.603H9.98z')
              path(d='M25.778 21.956v-10.97l-5.837 4.53 5.838 6.44zM5.954 21.956v-10.97l5.837 4.53-5.836 6.44z')
              path(d='M25.778 22.76l-6.138-6.74h-7.548l-6.137 6.74-.806-.603 6.54-7.145h8.353l6.54 7.145-.805.604z')
              path(d='M25.945 10.334l.61.8-6.32 4.823-.61-.8zM5.902 10.386l6.326 4.814-.61.802-6.326-4.815zM15.816 17.83l.302 8.252 2.013-2.516 2.013 4.226 1.107-.503-2.113-4.227 3.22-.2-6.54-5.033z')
        span.at-label.at-size-16 Email App
      a#atic_tumblr(href='#')
        span.at-icon-wrapper(style='background-color: rgb(55, 69, 92);')
          svg.at-icon.at-icon-tumblr(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 32 32', version='1.1', role='img', aria-labelledby='at-svg-tumblr-11', title='Tumblr', alt='Tumblr')
            title#at-svg-tumblr-11 Tumblr
            g
              path(d='M19.59 22.176c-.392.186-1.14.348-1.695.362-1.682.045-2.008-1.18-2.022-2.07V13.93h4.218v-3.18H15.89V5.403h-3.076c-.05 0-.138.044-.15.157-.18 1.636-.947 4.51-4.133 5.66v2.71h2.124v6.862c0 2.35 1.733 5.688 6.308 5.61 1.544-.028 3.258-.674 3.637-1.23l-1.01-2.996', fill-rule='evenodd')
        span.at-label.at-size-16 Tumblr
      a#atic_more(href='#')
        span.at-icon-wrapper(style='background-color: rgb(255, 101, 80);')
          svg.at-icon.at-icon-addthis(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 32 32', version='1.1', role='img', aria-labelledby='at-svg-addthis-12', title='More...', alt='More...')
            title#at-svg-addthis-12 Addthis
            g
              path(d='M18 14V8h-4v6H8v4h6v6h4v-6h6v-4h-6z', fill-rule='evenodd')
        span.at-label.at-size-16 More... (199)
      div(style='clear: both;')
    #at15pf.atm-f
      div
        a.at-branding-logo(href='//www.addthis.com/website-tools/overview?utm_source=AddThis%20Tools&utm_medium=image&utm_campaign=AddThis%20compact%20menu', title='Powered by AddThis', target='_blank')
          .at-branding-icon
          span.at-branding-addthis AddThis
