section.col-12.col-md-4.col-lg-3
  .help-menu.mb-3
    p
      strong General Information
    ul.help-links
      li
        router-link(to='/info/faq/', title='Frequently Asked Questions / FAQs').blue-ul Frequently Asked Questions / FAQs
      li
        router-link(to='/info/terms-of-sale/', title='Terms of Sale').blue-ul Terms of Sale
      li
        router-link(to='/info/payment-options/', title='100% Secure Payments / VAT').blue-ul 100% Secure Payments / VAT
      li
        router-link(to='/info/shipping-delivery/', title='Production and Delivery Timescales').blue-ul Production and Delivery Timescales
      li
        router-link(to='/info/returns/', title='Returns & Refunds Policy').blue-ul Returns & Refunds Policy
      li
        router-link(to='/info/privacy-policy/', title='Privacy and Cookie Policy').blue-ul Privacy and Cookie Policy
      li
        router-link(to='/info/free-glasses-with-eyetest/', title='FREE Glasses in our Store').blue-ul FREE Glasses in our Store
    p
      strong Eyewear
    ul.help-links
      li
        router-link(to='/info/help-with-prescription/', title='Help with your Glasses Prescription').blue-ul Help with your Glasses Prescription
      li
        router-link(to='/info/free-thin-and-light-lenses/', title='FREE Thin & Light Prescription Lenses').blue-ul FREE Thin & Light Prescription Lenses
      li
        router-link(to='/info/getting-your-glasses-prescription/', title='Getting your Glasses Prescription').blue-ul Getting your Glasses Prescription
      li
        router-link(to='/info/pupillary-distance/', title='PD / Pupillary Distance').blue-ul PD / Pupillary Distance
      li
        router-link(to='/info/lens-technology/', title='Guide to Sunglasses Lens Technologies').blue-ul Guide to Sunglasses Lens Technologies
      li
        router-link(to='/info/vouchers/', title='Glasses Vouchers - NHS & Accor Eyecare').blue-ul Glasses Vouchers - NHS & Accor Eyecare
      li
        router-link(to='/info/caring-for-your-glasses/', title='Caring for your New Prescription Glasses').blue-ul Caring for your New Prescription Glasses
      li
        router-link(to='/info/glasses-guide-buying-glasses-online/', title='Glasses Guide – Buying Glasses Online').blue-ul Glasses Guide – Buying Glasses Online
      li
        router-link(to='/info/how-to-put-in-contact-lenses/', title='How to put Contact Lenses in').blue-ul How to put Contact Lenses in
      li
        router-link(to='/info/how-to-remove-contact-lenses/', title='How to Remove Contact Lenses').blue-ul How to Remove Contact Lenses
      li
        router-link(to='/info/contact-lenses-aftercare-information/', title='Contact Lenses: Aftercare & Information').blue-ul Contact Lenses: Aftercare & Information
      li
        router-link(to='/info/quality-control/', title='14-Point Quality Check').blue-ul 14-Point Quality Check
    p
      strong Research
    ul.help-links
      li
        router-link(to='/info/face-shapes/', title='Choosing Glasses to suit your Face Shape').blue-ul Choosing Glasses to suit your Face Shape
      li
        router-link(to='/info/how-prescription-glasses-are-made/', title='How Prescription Glasses are Made').blue-ul How Prescription Glasses are Made
      li
        router-link(to='/info/eye-testing-advanced-oct-optical-coherence-tomography/', title='Eye Testing and Optical Coherence Tomography (OCT)').blue-ul Eye Testing and Optical Coherence Tomography (OCT)
