section.col-12.col-md-8.col-lg-9.help-main
  .text-center
    br
    h1.black Choosing Glasses to suit your Face Shape
    ShareButtons
    br
  p
    | Choosing the right pair of new glasses can be a long process made more difficult by the great selection of styles available on the market today – Just how do you know what style to choose and whether it will look right on you?
  br
  p
    | Knowing your face shape is the first step to selecting the correct frame for you, and with this guide you'll be a frame shape connoisseur in no time!
  br
  br
  .category-panel
    .row
      .col-12.col-lg-4
        p.large
          strong Face Shapes
        p
          strong A Video Guide
        p
          | For those that would prefer to watch a video guide for choosing the correct glasses for your face shape, we highly recommend you check out this great video from&nbsp;
          a(href='http://michellephan.com/', rel='nofollow').black-link.underlined-link.blue-hovered-link Michelle Phan
          | .
        br
        p
          em Video courtesy of Michelle Phan - http://www.michellephan.com/
      .col-12.col-lg-8
        .embed-responsive.embed-responsive-21by9
          iframe(allowfullscreen, frameborder='0', src='//www.youtube.com/embed/jKV-odZZGtk?rel=0').embed-responsive-item
  br
  p.large
    strong What's your face shape?
  p
    | Discovering your face shape is simple and can be done in 2 ways. Our preferred method is to look at your reflection in a mirror and outline your face shape with either a lipstick or an erasable pen – just remember to wipe down the mirror when you're finished!
  br
  p
    | Another method is to take a photo of yourself then outline your face shape with some tracing paper.
  br
  p
    | Now you know what type of face shape you have you can go ahead and check out our individual guides below to see what style will work best for you.
  br
  br
  p.large
    strong I have a Square Face Shape
  p
    em
      strong
        | Square faces are characterised by a square jaw line that’s almost as wide as it is long.
  br
  .row
    .col-12.col-sm-4
      img(alt='Square Face Shape', src='https://d9qzjwuieyamt.cloudfront.net/res/uploads/images/face-shape-square.jpg')
    .col-12.col-sm-8
      .green-background.with-indentation
        p
          strong You should try...
          |  a curved (round, oval or cat-eye) styled frame – this will soften the lantern jaw. If you're looking for a rectangular frame then you should look to choose a frame with softened edges.
      .pink-background.with-indentation
        p
          strong You should avoid...
          |  frames with a flat top bar and sharp angular corners as this may make you look stern and unapproachable.
      .with-indentation
        p
          strong Why not try one of the following frame styles...
        .row
          .col-12.col-md-4
            p
              img(alt='Univo U504', src='https://d9qzjwuieyamt.cloudfront.net/res/uploads/images/univo-u504.jpg')
            p
              strong
                router-link(to='/Glasses/Univo/U504/ss2609.20.html').black-link.underlined-link.blue-hovered-link U504 Univo
          .col-12.col-md-4
            p
              img(alt='Tom Ford FT5254', src='https://d9qzjwuieyamt.cloudfront.net/res/uploads/images/tom-ford-ft5254.jpg')
            p
              strong
                router-link(to='/Glasses/Tom-Ford/FT5254/ss401.54.html').black-link.underlined-link.blue-hovered-link FT5254 Tom Ford
          .col-12.col-md-4
            p
              img(alt='Savannah P2249 Havana', src='https://d9qzjwuieyamt.cloudfront.net/res/uploads/images/savannah-2249.jpg')
            p
              strong
                router-link(to='/Glasses/Savannah/P2249-Havana/ss1600.03.html').black-link.underlined-link.blue-hovered-link P2249 Savannah
      .with-indentation
        p
          strong Or try something from the following categories...
        p
          router-link(to='/Glasses/Prescription/Round-or-Oval/c44/').black-link.underlined-link.blue-hovered-link Curved styled frames
      .with-indentation
        p
          strong Famous square faces may include...
        p
          | Katie Holmes, Keira Knightley, Sandra Bullock, Natalie Portman, Angelina Jolie, Brad Pitt, Elijah Wood, David Coulthard, Orlando Bloom, Arnold Schwarzenegger.
  br
  br
  p.large
    strong I have a Longer Rectangular Face Shape
  p
    em
      strong
        | Long or Rectangular faces are characterised by a face that is longer than it is wide – often this face shape will feature a longer forehead, high cheekbones and a rounded jaw line.
  br
  .row
    .col-12.col-sm-4
      img(alt='Longer Rectangular Face Shape', src='https://d9qzjwuieyamt.cloudfront.net/res/uploads/images/face-shape-long.jpg')
    .col-12.col-sm-8
      .green-background.with-indentation
        p
          strong You should try...
          |  a larger frame with a wider lens coverage. This will give the illusion of extra face width and will help to break up the length of the face.
      .pink-background.with-indentation
        p
          strong You should avoid...
          |  frames that are small and rectangular.
      .with-indentation
        p
          strong Why not try one of the following frame styles...
        .row
          .col-12.col-md-4
            p
              img(alt='Infinity P6185', src='https://d9qzjwuieyamt.cloudfront.net/res/uploads/images/infinity-p6185.jpg', style='width: 150px; height: 100px;')
            p
              strong
                router-link(to='/Glasses/Infinity/P6185/ss271.04.html').black-link.underlined-link.blue-hovered-link Infinity P6185
          .col-12.col-md-4
            p
              img(alt='Tom Ford FT5040', src='https://d9qzjwuieyamt.cloudfront.net/res/uploads/images/tom-ford-ft5040.jpg', style='width: 150px; height: 100px;')
            p
              strong
                router-link(to='/Glasses/Tom-Ford/FT5040/ss400.09.html').black-link.underlined-link.blue-hovered-link FT5040 Tom Ford
          .col-12.col-md-4
            p
              img(alt='Oakley Cloverleaf', src='https://d9qzjwuieyamt.cloudfront.net/res/uploads/images/oakley-cloverleaf.jpg', style='width: 150px; height: 100px;')
            p
              strong Cloverleaf Oakley
      .with-indentation
        p
          strong Or try something from the following categories...
        p
          router-link(to='/Glasses/Prescription/Round-or-Oval/c44/').black-link.underlined-link.blue-hovered-link Curved styled frames
          |  or&nbsp;
          router-link(to='/Glasses/Prescription/Wayfarer/c89/').black-link.underlined-link.blue-hovered-link Wayfarer styled frames
      .with-indentation
        p
          strong Famous rectangular faces may include...
        p
          | Katie Holmes, Keira Knightley, Sandra Bullock, Natalie Portman, Angelina Jolie, Brad Pitt, Elijah Wood, David Coulthard, Orlando Bloom, Arnold Schwarzenegger.
  br
  br
  p.large
    strong I have a Round or Circular Face Shape
  p
    em
      strong
        | Round faces are usually as wide as they are tall with a rounded jaw line and rounded cheek bones.
  br
  .row
    .col-12.col-sm-4
      img(alt='Round Face Shape', src='https://d9qzjwuieyamt.cloudfront.net/res/uploads/images/face-shape-round.jpg')
    .col-12.col-sm-8
      .green-background.with-indentation
        p
          strong You should try...
          |  angular frames with strong lines to draw attention away from your cheek bones and jaw line.
      .pink-background.with-indentation
        p
          strong You should avoid...
          |  frames that are too small or frames that are round as this may accentuate the roundness of your face.
      .with-indentation
        p
          strong Why not try one of the following frame styles...
        .row
          .col-12.col-md-4
            p
              img(alt='Tom Ford FT5146', src='https://d9qzjwuieyamt.cloudfront.net/res/uploads/images/tom-ford-ft5146.jpg', style='width: 150px; height: 100px;')
            p
              strong
                router-link(to='/Glasses/Tom-Ford/FT5146/ss400.56.html').black-link.underlined-link.blue-hovered-link FT5146 Tom Ford
          .col-12.col-md-4
            p
              img(alt='Savannah P2267', src='https://d9qzjwuieyamt.cloudfront.net/res/uploads/images/savannah-p2267.jpg', style='width: 150px; height: 100px;')
            p
              strong
                router-link(to='/Glasses/Savannah/P2267-Black/ss1600.17.html').black-link.underlined-link.blue-hovered-link P2267 Savannah
          .col-12.col-md-4
            p
              img(alt='Ray-Ban RX5269', src='https://d9qzjwuieyamt.cloudfront.net/res/uploads/images/ray-ban-rx5269.jpg', style='width: 150px; height: 100px;')
            p
              strong RX5269 Ray-Ban
      .with-indentation
        p
          strong Or try something from the following categories...
        p
          router-link(to='/Glasses/Prescription/Square-or-Rectangular/c80/').black-link.underlined-link.blue-hovered-link Angular styled frames
      .with-indentation
        p
          strong Famous circular faces may include...
        p
          | Hayden Panettiere, Emma Stone, Julia Stiles, Cameron Diaz, Jack Black, Gerard Butler, James Cordon, Leonardo Dicaprio.
  br
  br
  p.large
    strong I have an Oval Face Shape
  p
    em
      strong
        | Oval faces are considered to be the perfect shape and should be able to carry of most frame styles. This face style is characterised by being well balanced with a gently curved jaw line - resembling the shape of an egg.
  br
  .row
    .col-12.col-sm-4
      img(alt='Oval Face Shape', src='https://d9qzjwuieyamt.cloudfront.net/res/uploads/images/face-shape-oval.jpg')
    .col-12.col-sm-8
      .green-background.with-indentation
        p
          strong You should try...
          |  You lucky people with your oval faces can feel free to be adventurous with different frame styles! Both rectangular and rounded frames will suit you well. Just be careful with choosing the correct size and try to feel comfortable in what you’re wearing.
      .pink-background.with-indentation
        p
          strong You should avoid...
          |  frames that are too small or too large.
      .with-indentation
        p
          strong Why not try one of the following frame styles...
        .row
          .col-12.col-md-4
            p
              img(alt='Tom Ford FT5150', src='https://d9qzjwuieyamt.cloudfront.net/res/uploads/images/tom-ford-ft5150.jpg', style='width: 150px; height: 100px;')
            p
              strong
                router-link(to='/Glasses/Tom-Ford/FT5150/ss400.60.html').black-link.underlined-link.blue-hovered-link FT5150 Tom Ford
          .col-12.col-md-4
            p
              img(alt='Univo U504', src='https://d9qzjwuieyamt.cloudfront.net/res/uploads/images/univo-u504.jpg', style='width: 150px; height: 100px;')
            p
              strong
                router-link(to='/Glasses/Univo/U504/ss2609.20.html').black-link.underlined-link.blue-hovered-link U504 Univo
          .col-12.col-md-4
            p
              img(alt='Savannah P2383', src='https://d9qzjwuieyamt.cloudfront.net/res/uploads/images/savannah-p2383.jpg', style='width: 150px; height: 100px;')
            p
              strong
                router-link(to='/Glasses/Savannah/P2383-Black/ss1600.05.html').black-link.underlined-link.blue-hovered-link P2383 Savannah
      .with-indentation
        p
          strong Or try something from the following categories...
        p
          router-link(to='/Glasses/Prescription/Round-or-Oval/c44/').black-link.underlined-link.blue-hovered-link Curved styled frames
          | ,&nbsp;
          router-link(to='/Glasses/Prescription/Square-or-Rectangular/c80/').black-link.underlined-link.blue-hovered-link Square / Rectangular styled frames
          |  or&nbsp;
          router-link(to='/Glasses/Prescription/Wayfarer/c89/').black-link.underlined-link.blue-hovered-link Wayfarer styled frames
      .with-indentation
        p
          strong Famous oval faces may include...
        p
          | Kirsten Dunst, Emma Watson, Jennifer Lawrence, Mila Kunis, Emilia Clarke, Aaron Paul, Jude Law, Jake Gyllenhaal, Kiefer Sutherland.
  br
  br
  p.large
    strong I have a Heart or Triangular Face Shape
  p
    em
      strong
        | Heart or Triangular shaped faces are characterised by a wide forehead and cheekbones tapered to a small chin.
  br
  .row
    .col-12.col-sm-4
      img(alt='Heart Face Shape', src='https://d9qzjwuieyamt.cloudfront.net/res/uploads/images/face-shape-heart.jpg')
    .col-12.col-sm-8
      .green-background.with-indentation
        p
          strong You should try...
          |  square or rectangular shaped frames to balance your facial features.
      .pink-background(style='background:#ffe7e4; padding:15px; margin-bottom:10px;')
        p
          strong You should avoid...
          |  frames that are wider at the top than the bottom as this will not help balance your facial features.
      .with-indentation
        p
          strong Why not try one of the following frame styles...
        .row
          .col-12.col-md-4
            p
              img(alt='Tom Ford FT5040', src='https://d9qzjwuieyamt.cloudfront.net/res/uploads/images/tom-ford-ft5040.jpg', style='width: 150px; height: 100px;')
            p
              strong
                router-link(to='/Glasses/Tom-Ford/FT5040/ss400.09.html').black-link.underlined-link.blue-hovered-link FT5040 Tom Ford
          .col-12.col-md-4
            p
              img(alt='Oakley Currency', src='https://d9qzjwuieyamt.cloudfront.net/res/uploads/images/oakley-currency.jpg', style='width: 150px; height: 100px;')
            p
              strong
                router-link(to='/Glasses/Oakley/OX8026-CURRENCY/ss600.56.html').black-link.underlined-link.blue-hovered-link Currency Oakley
          .col-12.col-md-4
            p
              img(alt='Savannah P2249 Havana', src='https://d9qzjwuieyamt.cloudfront.net/res/uploads/images/savannah-2249.jpg', style='width: 150px; height: 100px;')
            p
              strong
                router-link(to='/Glasses/Savannah/P2249-Havana/ss1600.03.html').black-link.underlined-link.blue-hovered-link P2249 Savannah
      .with-indentation
        p
          strong Or try something from the following categories...
        p
          router-link(to='/Glasses/Prescription/Square-or-Rectangular/c80/').black-link.underlined-link.blue-hovered-link Square / Rectangular styled frames
          |  or&nbsp;
          router-link(to='/Glasses/Prescription/Wayfarer/c89/').black-link.underlined-link.blue-hovered-link Wayfarer styled frames
      .with-indentation
        p
          strong Famous round faces may include...
        p
          | Reese Witherspoon, Miley Cyrus, Scarlett Johansson, Jennifer Aniston, Jessie J, Ryan Gosling, Ryan Reynolds, Ethan Hawk, Will Smith, George Clooney.
  br

