.kids-designers
  .container-fluid.text-center
    .row
      .col-12.col-md-7.col-lg-6
        img(src='https://d9qzjwuieyamt.cloudfront.net/5.2.23/res/images/banners/featured-pages/kidssun/bolle.jpg?20171207190136').img-fluid.d-inline-block
      .col-12.col-md-5.col-lg-6.my-auto
        br.d-md-none
        h2.title Bolle Kids
        br
        p
          | With Bollé® Junior sunglasses, we have the assurance of the "best" ultra-filtering technological lenses, shock resistant and extremely lightweight ergonomic frames to suit children’s smaller faces.
        br
        router-link(to='/sunglasses/designer/bolle-kids/d31402/').btn.big-button View Collection »
  br
  hr
  br
  .container-fluid.text-center
    .row
      .col-12.col-md-5.col-lg-6.my-auto
        br.d-md-none
        h2.title Ray-Ban Junior
        br
        p
          | The iconic Ray-Ban sunglass collection, in classic and trendy styles, specifically design in the perfect size for kids. We particularly like the super cute
          strong &nbsp;Aviator&nbsp;
          | and&nbsp;
          strong Wayfarer Junior&nbsp;
          | styles!
        br
        router-link(to='/sunglasses/designer/ray-ban/d43/').btn.big-button View Collection »
      .col-12.col-md-7.col-lg-6
        img(src='https://d9qzjwuieyamt.cloudfront.net/5.2.23/res/images/banners/featured-pages/kidssun/ray-ban-jr.jpg?20171207190136').img-fluid.d-inline-block
  br
  hr
  br
  .container-fluid.text-center
    .row
      .col-12.col-md-7.col-lg-6
        img(src='https://d9qzjwuieyamt.cloudfront.net/5.2.23/res/images/banners/featured-pages/kidssun/polaroid.jpg?20171207190136').img-fluid.d-inline-block
      .col-12.col-md-5.col-lg-6.my-auto
        br.d-md-none
        h2.title Polaroid Kids
        br
        p
          | Protect the ones you love with Polaroid sunglasses, suitable for babies, toddlers and juniors. All Polaroid sunglasses include Ultrasight™ polarised lenses and UV400 protection.
        br
        router-link(to='/sunglasses/designer/bolle-kids/d31402/').btn.big-button View Collection »
  br
  hr
  br
  .container-fluid.text-center
    .row
      .col-12.col-md-5.col-lg-6.my-auto
        br.d-md-none
        h2.title Fan Frames
        br
        p
          | Now your child can support their favourite football team with officially licensed eyewear from Fan Frames. Include UV400 protection.
        br
        router-link(to='/sunglasses/designer/fan-frames-kids/d31564/').btn.big-button View Collection »
      .col-12.col-md-7.col-lg-6
        img(src='https://d9qzjwuieyamt.cloudfront.net/5.2.23/res/images/banners/featured-pages/kidssun/fan-frames.jpg?20171207190136').img-fluid.d-inline-block
  br
  br
