#main-page.page
  PageHeader

  main
    Breadcrumbs.mb-0
    PageBanner
    ExcellentRating
    NavAccordion.d-lg-none
    Brands.d-none.d-lg-block
    StaffPicks
    hr
    GuidesToGoggles
    Description
    TrustpilotWidget

  PageFooter
  ScrollToTop
