.tips
  .container-fluid.text-center
    .row
      .col-12
        h2.title Choosing sunglasses for your kids
        br
        p
          | Making sure your child is wearing suitable sunglasses is extremely important as the suns harmful UV rays can cause irreversible damage to your children's eyes that may go unnoticed until adult age.
          br
          | Some experts suggest that nearly half of person's lifetime exposure to UV light has happened by the age of 18, so it pays to protect from an early age.
          br
          br
          | Follow these&nbsp;
          strong 4 tips
          |  to help you find the right sunglasses for your kids.
        br
        .row.row-eq-height
          .col-12.col-md-6.col-lg-3
            .tip.box-shadow
              p.large
                strong 1. UV Protection
              p
                | Sunglasses for children should block 100% of UV radiation as well as between 75 - 90% of visible light.  Any sunglasses you buy should have this information provided in the packaging.
          .col-12.col-md-6.col-lg-3
            .tip.box-shadow
              p.large
                strong 2. Durability
              p
                | You should look for a durable acetate or plastic frame that will stay in place during play.  Lenses should be made of a high impact material such as polycarbonate to prevent any breakages or scratches.
          .col-12.col-md-6.col-lg-3
            .tip.box-shadow
              p.large
                strong 3. Fit & Comfort
              p
                | Childrens sunglasses should offer good eye coverage and fit comfortably.  Allow your child to try on various pairs to find something that is comfortable and fits correctly.
          .col-12.col-md-6.col-lg-3
            .tip.box-shadow
              p.large
                strong 4. Set an Example
              p
                | Kids at a young age look up to their parents so set a good example! Ensure you're wearing your sunglasses every time you go outside if you want your child to do the same.  Encouraging the use of a hat and sunscreen for extra protection is also advisable.
