section.breadcrumb-section
  .container-fluid
    .row
      nav.breadcrumb.col-12(v-if="breadcrumbs.length > 0", aria-label='You are here:', role='navigation')
        span.breadcrumb-item(v-for="(breadcrumb, key) in breadcrumbs")
          span.active(v-if="key === breadcrumbs.length -1 ") {{breadcrumb.title}}
          router-link(v-else, @click.native="rememberRoute(breadcrumb.path)",:to="breadcrumb.path",  :title='breadcrumb.title.toUpperCase()') {{breadcrumb.title}}
