section.checkout-footer
  .container-fluid.text-center.py-2
    .row.d-none.d-md-block
      .col-12
        p.smaller
          a(href="#").ununderlined-link Contact Us
          | &nbsp;&nbsp;|&nbsp;&nbsp;
          a(href="#").ununderlined-link Production & Delivery
          | &nbsp;&nbsp;|&nbsp;&nbsp;
          a(href="#").ununderlined-link FAQ's
          | &nbsp;&nbsp;|&nbsp;&nbsp;
          a(href="#").ununderlined-link Check My Order
          | &nbsp;&nbsp;|&nbsp;&nbsp;
          a(href="#").ununderlined-link Our Lenses
          | &nbsp;&nbsp;|&nbsp;&nbsp;
          a(href="#").ununderlined-link Prescription Lens Prices
          | &nbsp;&nbsp;|&nbsp;&nbsp;
          a(href="#").ununderlined-link Shop In Store
          | &nbsp;&nbsp;|&nbsp;&nbsp;
          a(href="#").ununderlined-link Blog
          | &nbsp;&nbsp;|&nbsp;&nbsp;
          a(href="#").ununderlined-link Fashion & Lifestyle Magazine
        br.d-none.d-md-block
    .row
      .col-12.grey-text
        p.smaller.grey-text SelectSpecs.com 2017
        p.smaller
          strong.grey-text UK Company No:
          span.grey-text  6435182
        br
    .row
      .col-12
        p.smaller.m-0
          a(href="#").ununderlined-link Site Map
          | &nbsp;&nbsp;|&nbsp;&nbsp;
          a(href="#").ununderlined-link Terms of sale
          | &nbsp;&nbsp;|&nbsp;&nbsp;
          a(href="#").ununderlined-link Privacy
