section.credits.text-center.text-white
  .container-fluid
    .row.pt-1
      .col-12.mx-auto
        p.text-white © SelectSpecs.com 2017.
        // span.d-sm-none &nbsp;&nbsp;&nbsp;
        p.mb-1
          router-link.ununderlined-link(to="/site-map/") Site Map
          | &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
          router-link.ununderlined-link(to="/info/terms-of-sale/") Terms of sale
          | &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
          router-link.ununderlined-link(to="/info/privacy-policy/") Privacy
