.store-general
  .store-banner-big.d-none.d-md-block
  .store-banner-small.d-md-none

  .about-us-store
    .container-fluid
      .row
        .col-12
          h1 SelectSpecs Optical Store
          p
            strong 37 Station Road, Westgate on Sea, Kent, CT8 8QY
          br
          .row.text-left
            .col-12.col-md-8
              p
                | Our flagship store is located in Westgate-on-Sea, Kent, UK, close to the stunning Kent coastline and surrounded by coffee shops and bakeries perfect for a spot of lunch. Our store features over 500 budget and designer frames on display with friendly staff on hand to guide you through your purchase.
              br
              p
                strong Book an eye test
                br
                | Call us on&nbsp;
                strong
                  a(href='tel:03303 801 190').white 03303 801 190
                |  or&nbsp;
                strong
                  router-link(to='/store/book-an-eyetest/').white_ul Book Online
              br.d-md-none
            .col-12.col-md-4
              p.large
                strong Store Opening Hours
              p
                strong Mon-Sat:
                |  9.00 - 17.00
              p
                strong Sunday:
                |  Closed
              br
              ShareButtons

