section.quick-links.text-center
  .container-fluid.pt-5.pb-3
    .row.row-eq-height
      .col-12.col-md-6.col-lg-3
        .type-wrapper.mb-5.rx-sun
          p
            img.img-fluid(src='https://d9qzjwuieyamt.cloudfront.net/res/images/banners/sunglasses/rx-sun.jpg?20171114194644')
          .text-wrapper
            p.largest Prescription Sunglasses
            p.small Get sunglasses made to your own personal prescription.
          br
          p
            router-link.btn.big-button(to='/sunglasses/designer/prescription-compatible/c274/') Shop Now »
      .col-12.col-md-6.col-lg-3
        .type-wrapper.mb-5.polar-sun
          p
            img.img-fluid(src='https://d9qzjwuieyamt.cloudfront.net/res/images/banners/sunglasses/polar-sun.jpg?20171114194644')
          .text-wrapper
            p.largest Polarised Sunglasses
            p.small Improve your sunglasses experience with glare reducing polarised lenses.
          br
          p.small
            router-link.btn.big-button(to='/sunglasses/designer/polarised-lens/c67/') Shop Now »
      .col-12.col-md-12.col-lg-6
        .type-wrapper
          br
          .text-wrapper
            p.largest Shop Sunglasses by Style
          br
          .row.tiles-container
            .tile-wrapper.col-12.col-md-2.ml-auto
              p
                router-link.tile(to='/sunglasses/designer/aviator/c25/')
                  img.img-fluid(src='https://d9qzjwuieyamt.cloudfront.net/res/images/icons/frame-style/mob/style-sun-aviator.png?20171114194644', alt='Aviator', width='80px')
                  br
                  strong Aviator »
            .tile-wrapper.col-12.col-md-2
              p
                router-link.tile(to='/sunglasses/designer/wayfarer/c89/')
                  img.img-fluid(src='https://d9qzjwuieyamt.cloudfront.net/res/images/icons/frame-style/mob/style-sun-retro.png?20171114194644', alt='Wayfarer Style', width='80px')
                  br
                  strong Wayfarer Style »
            .tile-wrapper.col-12.col-md-2
              p
                router-link.tile(to='/sunglasses/designer/cat-eye/c279/')
                  img.img-fluid(src='https://d9qzjwuieyamt.cloudfront.net/res/images/icons/frame-style/mob/style-sun-cateye.png?20171114194644', alt='Cat Eye', width='80px')
                  br
                  strong Cat Eye »
            .tile-wrapper.col-12.col-md-2
              p
                router-link.tile(to='/sunglasses/designer/horn-rimmed/c278/')
                  img.img-fluid(src='https://d9qzjwuieyamt.cloudfront.net/res/images/icons/frame-style/mob/style-sun-horn.png?20171114194644', alt='Horn Rimmed', width='80px')
                  br
                  strong Horn Rimmed »
            .tile-wrapper.col-12.col-md-2.mr-auto
              p
                router-link.tile(to='/sunglasses/designer/round-or-oval/c44/')
                  img.img-fluid(src='https://d9qzjwuieyamt.cloudfront.net/res/images/icons/frame-style/mob/style-sun-round.png?20171114194644', alt='Round', width='80px')
                  br
                  strong Round »
          br
          .text-wrapper
            p.largest Shop Sunglasses by Activity
          br
          .row.tiles-container
            .tile-wrapper.col-12.col-md-2.ml-auto
              p
                router-link.tile(to='/sunglasses/designer/active-lifestyle/c322/')
                  img.img-fluid(src='https://d9qzjwuieyamt.cloudfront.net/res/images/icons/general/mob/active.png?20171114194644', alt='Active', width='50px')
                  br
                  strong Active »
            .tile-wrapper.col-12.col-md-2
              p
                router-link.tile(to='/sunglasses/designer/sport/c46/')
                  img.img-fluid(src='https://d9qzjwuieyamt.cloudfront.net/res/images/icons/general/mob/cycling.png?20171114194644', alt='Cycling', width='50px')
                  br
                  strong Cycling »
            .tile-wrapper.col-12.col-md-2
              p
                router-link.tile(to='/sunglasses/designer/golf/c316/')
                  img.img-fluid(src='https://d9qzjwuieyamt.cloudfront.net/res/images/icons/general/mob/golf.png?20171114194644', alt='Golf', width='50px')
                  br
                  strong Golf »
            .tile-wrapper.col-12.col-md-2
              p
                router-link.tile(to='/sunglasses/designer/fishing/c314/')
                  img.img-fluid(src='https://d9qzjwuieyamt.cloudfront.net/res/images/icons/general/mob/fishing.png?20171114194644', alt='Fishing', width='50px')
                  br
                  strong Fishing »
            .tile-wrapper.col-12.col-md-2.mr-auto
              p
                router-link.tile(to='/sunglasses/designer/driving/c342/')
                  img.img-fluid(src='https://d9qzjwuieyamt.cloudfront.net/res/images/icons/general/mob/driving.png?20171114194644', alt='Driving', width='50px')
                  br
                  strong Driving »
