section.sales.text-center
  .container-fluid.d-none.d-lg-block
    .row
      .col-12
        a.sales-banner(href="/glasses/prescription/flash-sale/c393/").py-2
          img(data-original="https://d9qzjwuieyamt.cloudfront.net/res/images/banners/home/homepage-flash-sale.png?20170829201433",
          src="https://d9qzjwuieyamt.cloudfront.net/res/images/banners/home/homepage-flash-sale.png?20170829201433",
          alt="Flash Sale").img-fluid
  .d-block.d-lg-none
    a.sales-banner(href='/sale/')
      img(src='https://d9qzjwuieyamt.cloudfront.net/res/images/banners/home/homepage-flash-sale_mob.png?20171020111122',
      alt='Flash Sale').img-fluid
