section.checkout-rates.d-none.d-md-block
  .container-fluid
    .usp-bottom-line.row.py-5
      .col-xl-11.mx-auto
        .row
          ul.usp-checkout.list-unstyled.col-md-6
            li.row
              .usp-image.order.col-3
              .col-9.my-auto
                h3.product-header-h3 Order by phone
                p Call us on&nbsp;
                  strong
                    a(href='tel:03303801190') 03303 801 190
                  br
                  em Mon. to Fri. 9am - 5.30pm GMT
                br.d-sm-none
            li.row
              .usp-image.secure.col-3
              .col-9.my-auto
                h3.product-header-h3 100% Secure Payments
                p by WorldPay & PayPal.
                br.d-sm-none
            li.row
              .usp-image.satisfaction.col-3
              .col-9.my-auto
                h3.product-header-h3 100% Satisfaction - Guaranteed
                p No quibble 14 day money back returns.
                br.d-sm-none
          .checkout-carousel.col-md-6.col-lg-4.ml-auto
            .row
              .col-12.text-center
                .trust-pilot-pic.mb-2
                p.x-smaller.based.mb-1.text-uppercase trustscore
                  strong  9.1
                  | &nbsp;&nbsp;|&nbsp;&nbsp;
                  strong 14.480
                  | &nbsp;reviews
                p.x-smaller.under-based.mb-0 See some of the reviews here.
                hr
            .row
              // Slick(ref="slick", :options="slickOptions").col-12
                .rate-wrapper.smaller
                  p.smallest.time.mb-3 91 minutes ago
                  p.small.font-weight-bold.mb-1 First time glasses online.
                  p.smaller Ordered some prescription glasses on Monday and they arrived in about a week. Perfect website and ready to use.
                .rate-wrapper.smaller
                  p.smallest.time.mb-3 91 minutes ago
                  p.small.font-weight-bold.mb-1 First time glasses online.
                  p.smaller Ordered some prescription glasses on Monday and they arrived in about a week. Perfect website and ready to use.
                .rate-wrapper.smaller
                  p.smallest.time.mb-3 91 minutes ago
                  p.small.font-weight-bold.mb-1 First time glasses online.
                  p.smaller Ordered some prescription glasses on Monday and they arrived in about a week. Perfect website and ready to use.
                .rate-wrapper.smaller
                  p.smallest.time.mb-3 91 minutes ago
                  p.small.font-weight-bold.mb-1 First time glasses online.
                  p.smaller Ordered some prescription glasses on Monday and they arrived in about a week. Perfect website and ready to use.
                .rate-wrapper.smaller
                  p.smallest.time.mb-3 91 minutes ago
                  p.small.font-weight-bold.mb-1 First time glasses online.
                  p.smaller Ordered some prescription glasses on Monday and they arrived in about a week. Perfect website and ready to use.
                .rate-wrapper.smaller
                  p.smallest.time.mb-3 91 minutes ago
                  p.small.font-weight-bold.mb-1 First time glasses online.
                  p.smaller Ordered some prescription glasses on Monday and they arrived in about a week. Perfect website and ready to use.
            ShareButtons
