section.contacts
  .container-fluid
    .row
      .col-12.text-center
        p.m-auto
          span.mx-md-3
            i.fa.fa-volume-control-phone.mr-1
            strong
              a.blue-hovered-link(href="tel:03303 801 190") 03303 801 190
            | &nbsp;UK call centre:&nbsp;
            strong 9am
            | &nbsp;-&nbsp;
            strong 5.30pm
          span.mx-3.d-none.d-lg-inline-block
            i.fa.fa-map-marker.mr-1
            | Shop in our&nbsp;
            strong
              router-link.blue-hovered-link(to="/store/") Westgate on Sea Store
