h1 {
  color: #000;
}

.brand-AZ {
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 3rem;
}

.brand-entry {
  font-size: .8rem;
  padding: .5rem 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
