section.sale-banner.container-fluid
  .row.text-center
    .col-12
      p.hp-clearance-bar
        router-link(to='/glasses/prescription/flash-sale/c393/')
          img(src='https://d9qzjwuieyamt.cloudfront.net/5.2.23/res/images/banners/home/homepage-flash-sale_xmas17.png?20171130143530', alt='Flash Sale').img-fluid.d-inline-block
