.row.text-center
  .col-12.col-sm-6.col-lg-3
    p
      router-link(to='/info/faq/').help-icons
        img(src='https://d9qzjwuieyamt.cloudfront.net/5.2.23/res/images/icons/help/v2_faq.jpg?20171206101624')
        br
        strong FAQs »
  .col-12.col-sm-6.col-lg-3
    p
      router-link(to='/account/orders/').help-icons
        img(src='https://d9qzjwuieyamt.cloudfront.net/5.2.23/res/images/icons/help/v2_check-order.jpg?20171206101624')
        br
        strong Order Status »
  .col-12.col-sm-6.col-lg-3
    p
      router-link(to='/info/shipping-delivery/').help-icons
        img(src='https://d9qzjwuieyamt.cloudfront.net/5.2.23/res/images/icons/help/v2_delivery.jpg?20171206101624')
        br
        strong Delivery Info »
  .col-12.col-sm-6.col-lg-3
    p
      router-link(to='/guides/lenses/').help-icons
        img(src='https://d9qzjwuieyamt.cloudfront.net/5.2.23/res/images/icons/help/v2_lenses.jpg?20171206101624')
        br
        strong Lenses/Prices »
