section.brands
  .container-fluid.py-5
    .row.text-center.justify-content-around
      router-link(to="/goggles/bolle/d57/").col-12.col-md-4.col-lg-2
        img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/designers/logo/57-bolle.jpg")
      router-link(to="/goggles/nike/d410/").col-12.col-md-4.col-lg-2
        img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/designers/logo/410-nike.jpg")
      //router-link(to="#").col-12.col-md-4.col-lg-2
        img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/designers/logo/31659-oneill.jpg")
      //router-link(to="#").col-12.col-md-4.col-lg-2
        img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/designers/logo/391-oakley.jpg")
      router-link(to="/goggles/revo/d31756/").col-12.col-md-4.col-lg-2
        img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/designers/logo/31756-Revo-logo.jpg")
      router-link(to="/goggles/dragon/d31611/").col-12.col-md-4.col-lg-2
        img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/designers/logo/31611-dragon.jpg")
  hr
