section.banner.text-center
  router-link(to='/sunglasses/designer/prescription-compatible/c274/')
    img.img-fluid(src='https://d9qzjwuieyamt.cloudfront.net/res/images/banners/sunglasses/sg_homepage-rx-sun.jpg?20171114194644', alt='prescription sunglasses')
