#infoPage.page
  PageHeader

  main
    Breadcrumbs
    .container-fluid
      .row
        InfoMain
        InfoSidebar
    TrustpilotWidget.my-3.border.border-right-0.border-bottom-0.border-left-0.d-none.d-lg-block

  PageFooter
  ScrollToTop
