a {
  transition: all .2s ease-in-out;
  &:hover:not(.plus) {
    transform: translateY(-4px);
  }
  .icon-wrapper {
    height: 32px;
    width: 32px;
    line-height: 32px;
    color: white;
    text-align: center;
  }
}

.s-button {
  margin: 0 .25rem;
  cursor: pointer;
}
.facebook {
  background-color: #3b5998;
}
.twitter {
  background-color: #1da1f2;
}
.google {
  background-color: #dc4e42;
}
.print {
  background-color: #738a8d;
}
.write {
  background-color: #848484;
}
.plus {
  background-color: #ff6550;
}
