.d-flex.justify-content-center
  a.facebook(role="button").s-button
    span.sr-only Share to Facebook
    i.fa.fa-facebook.icon-wrapper(aria-hidden="true")
  span.counter.small.s-button 140
  a.twitter(role="button").s-button
    span.sr-only Share to Twitter
    i.fa.fa-twitter.icon-wrapper(aria-hidden="true")
  a.print(role="button").s-button
    span.sr-only Print
    i.fa.fa-print.icon-wrapper(aria-hidden="true")
  a.write(role="button").s-button
    span.sr-only Write us
    i.fa.fa-envelope.icon-wrapper(aria-hidden="true")
  a.plus(role="button").s-button
    span.sr-only Add
    i.fa.fa-plus.icon-wrapper(aria-hidden="true")
  span.counter.small.s-button 1K
