.text-center
  h2
    strong Previous
  br
  p.small Sorry, you do not have any prescriptions stored within your account. Please enter a new prescription, this will be saved in your account for future use.
  p
    strong Want us to verify your prescription?
  .form-group
    label(for="upload-prescription").form-control-file
      input#upload-prescription.btn(type="file")
  p.small or send it to us later (select tab above).
