section.pack-deals.py-4.py-lg-5
  .container-fluid
    .row
      .col-12.text-center
        h2.main-header Contact lens pack deals
        hr.short-hr.d-none.d-lg-block
        br
        .container-fluid.d-none.d-lg-block.px-0
          .row.mb-3.justify-content-center
            .col-12.col-md-6.col-lg-4
              router-link(to="/contact-lenses/bausch-lomb/pure-vision-2-hd-with-biotrue-solution-pack-deal/ss2002.15.html")
                img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/5.2.23/res/images/banners/home/staff-picks/cl_pack_deal_1.jpg?20171207190136")
            .col-12.col-md-6.col-lg-4
              router-link(to="/contact-lenses/bausch-lomb/pure-vision-2-hd-for-astigmatism-with-biotrue-solution-pack-deal/ss2002.16.html")
                img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/5.2.23/res/images/banners/home/staff-picks/cl_pack_deal_2.jpg?20171207190136")
        .swiper-container(v-swiper:swiperPack="swiperOption", aria-label='Contact Lens Packages').d-lg-none.pt-3
          .swiper-wrapper
            router-link(to="/contact-lenses/bausch-lomb/pure-vision-2-hd-with-biotrue-solution-pack-deal/ss2002.15.html").swiper-slide
              img.mx-auto(src="https://d9qzjwuieyamt.cloudfront.net/res/images/items/mini_pix/2002_15_1.jpg", alt="Bausch & Lomb Pure Vision 2 HD with BioTrue Solution (Pack Deal)")
            router-link(to="/contact-lenses/bausch-lomb/pure-vision-2-hd-for-astigmatism-with-biotrue-solution-pack-deal/ss2002.16.html").swiper-slide
              img.mx-auto(src="https://d9qzjwuieyamt.cloudfront.net/res/images/items/mini_pix/2002_16_1.jpg", alt="Bausch & Lomb Pure Vision 2 HD for Astigmatism with BioTrue Solution (Pack Deal)")
          button.slick-prev.slick-left.slick-arrow.slick-triangle(aria-label="Previous") Previous
          button.slick-next.slick-right.slick-arrow.slick-triangle(aria-label="Next") Next
          ul(role="tablist").slick-dots.white-dots
        // Slick(aria-label='Contact Lens Packages', ref="slick", :options="slickOptions").d-lg-none
          router-link(to="/contact-lenses/bausch-lomb/pure-vision-2-hd-with-biotrue-solution-pack-deal/ss2002.15.html")
            img.mx-auto(src="https://d9qzjwuieyamt.cloudfront.net/res/images/items/mini_pix/2002_15_1.jpg", alt="Bausch & Lomb Pure Vision 2 HD with BioTrue Solution (Pack Deal)")
          router-link(to="/contact-lenses/bausch-lomb/pure-vision-2-hd-for-astigmatism-with-biotrue-solution-pack-deal/ss2002.16.html")
            img.mx-auto(src="https://d9qzjwuieyamt.cloudfront.net/res/images/items/mini_pix/2002_16_1.jpg", alt="Bausch & Lomb Pure Vision 2 HD for Astigmatism with BioTrue Solution (Pack Deal)")
  .container-fluid.d-none.d-lg-block
    .row
      .col-12.text-center
        br
        br
        br
        br
        h2.main-header Solutions & accessories
        hr.short-hr.d-none.d-lg-block
        br
        .container-fluid.d-none.d-lg-block.px-0
          .row.mb-3.justify-content-center
            .col-12.col-md-4
              router-link(to="/accessories/sauflon/100ml-saline-solution/ss2000.11.html")
                img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/items/mini_pix/2000_11_1.jpg", :alt='"Sauflon 100ml Saline solution, " + calculatePrice(106.93/33.47, false, true)')
            .col-12.col-md-4
              router-link(to="/accessories/bausch-lomb/biotrue-multi-purpose-solution/ss2000.07.html")
                img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/items/mini_pix/2000_07_1.jpg", :alt='"Bausch & Lomb Biotrue Multi-purpose solution, " + calculatePrice(106.93/33.47, false, true)')
            .col-12.col-md-4
              router-link(to="/accessories/bausch-lomb/renu-multi-purpose-solution-for-sensitive-eyes/ss2000.10.html")
                img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/items/mini_pix/2000_10_1.jpg", :alt='"Bausch & Lomb ReNu Multi-Purpose solution for Sensitive Eyes, " + calculatePrice(106.93/33.47, false, true)')
          .row.d-none.d-lg-block
            .col-12.text-center
              br
              router-link(to="/accessories/contact-lenses/c196/").btn.big-button More solutions & accessories »
              br
        .swiper-container(v-swiper:swiperPack2="swiperOption", aria-label='Contact Lens Packages').d-lg-none.pt-3
          .swiper-wrapper
            router-link(to="/contact-lenses/bausch-lomb/pure-vision-2-hd-with-biotrue-solution-pack-deal/ss2002.15.html").swiper-slide
              img.mx-auto(src="https://d9qzjwuieyamt.cloudfront.net/res/images/items/mini_pix/2002_15_1.jpg", alt="Bausch & Lomb Pure Vision 2 HD with BioTrue Solution (Pack Deal)")
            router-link(to="/contact-lenses/bausch-lomb/pure-vision-2-hd-for-astigmatism-with-biotrue-solution-pack-deal/ss2002.16.html").swiper-slide
              img.mx-auto(src="https://d9qzjwuieyamt.cloudfront.net/res/images/items/mini_pix/2002_16_1.jpg", alt="Bausch & Lomb Pure Vision 2 HD for Astigmatism with BioTrue Solution (Pack Deal)")
          button.slick-prev.slick-left.slick-arrow.slick-triangle(aria-label="Previous") Previous
          button.slick-next.slick-right.slick-arrow.slick-triangle(aria-label="Next") Next
          ul(role="tablist").slick-dots.white-dots
        // Slick(aria-label='Contact Lens Packages', ref="slick", :options="slickOptions").d-lg-none
          router-link(to="/contact-lenses/bausch-lomb/pure-vision-2-hd-with-biotrue-solution-pack-deal/ss2002.15.html")
            img.mx-auto(src="https://d9qzjwuieyamt.cloudfront.net/res/images/items/mini_pix/2002_15_1.jpg", alt="Bausch & Lomb Pure Vision 2 HD with BioTrue Solution (Pack Deal)")
          router-link(to="/contact-lenses/bausch-lomb/pure-vision-2-hd-for-astigmatism-with-biotrue-solution-pack-deal/ss2002.16.html")
            img.mx-auto(src="https://d9qzjwuieyamt.cloudfront.net/res/images/items/mini_pix/2002_16_1.jpg", alt="Bausch & Lomb Pure Vision 2 HD for Astigmatism with BioTrue Solution (Pack Deal)")
