section.excellent
  .container-fluid.py-2.px-5
    .row
      .col-12.text-center
        a#profileLink(href='#')
          p
            strong.large Excellent
            span.stars-container.d-inline-block.mx-2
              - for (var i = 0; i < 5; i++)
                .star-sprite.d-inline-block
                  img(src="https://widget.trustpilot.com/trustboxes/5419b6ffb0d04a076446a9af/sprite_star.png")
            span.d-none.d-lg-inline-block based on&nbsp;
            span.d-none.d-lg-inline-block
              strong 17,831
              |  reviews
            span.trust-pilot-logo.ml-2.d-none.d-lg-inline-block
