.description-store
  .container-fluid.text-center
    .row
      .col-12
        p
          img(src='https://d9qzjwuieyamt.cloudfront.net/5.2.23/res/images/banners/about/team-shop.jpg?20171207190136').img-fluid
    .row
      .col-12.col-md-4
        img(src='https://d9qzjwuieyamt.cloudfront.net/5.2.23/res/images/_jpg/store/store-lower-1.jpg?20171207190136').img-fluid
      .col-12.col-md-4.d-none.d-md-block
        img(src='https://d9qzjwuieyamt.cloudfront.net/5.2.23/res/images/_jpg/store/store-lower-2.jpg?20171207190136').img-fluid
      .col-12.col-md-4.d-none.d-md-block
        img(src='https://d9qzjwuieyamt.cloudfront.net/5.2.23/res/images/_jpg/store/store-lower-3.jpg?20171207190136').img-fluid
  br
  hr
  br
  .container-fluid
    .row
      .col-12.text-center
        p.large
          strong FREE Glasses with Every Eye Test!
        p
          | When you have your eyes tested at SelectSpecs we'll give you a free pair of prescription glasses complete with all essential coatings, with no hidden costs. We can also offer an advanced 3D Imaging Eye Exam that can detect early warnings of conditions such as Glaucoma or Macula Degeneration for complete peace of mind.
        br
        .row
          .col-12.col-md-6
            .et-panel
              p.large
                strong Standard Eye Exam - £30*
              p This includes a standard eye test plus...
              br
              p
                strong FREE
                |  pair of prescription glasses including lenses and coatings up to the value of&nbsp;
                strong £30
                | .
              p
                | Or&nbsp;
                strong £10 off
                |  designer frames.
          .col-12.col-md-6
            .et-panel
              p.large
                strong Advanced Eye Exam - £60*
              p This includes a standard eye test plus...
              br
              p OCT Scan and digital photography.
              p
                | a&nbsp;
                strong FREE
                |  pair of prescription glasses including lenses and coatings up to the value of&nbsp;
                strong £60
                | .
              p
                | Or&nbsp;
                strong £20 off
                |  designer frames.
        br
        p
          strong
            router-link(to='/info/free-glasses-with-eyetest/').blue_ul See here
          |  for more details and offers for NHS patients. Call us now on&nbsp;
          strong
            a(href='tel:03303 801 190').blue-hovered-link 03303 801 190
          |  to book the most advanced eye test in Kent!
        br
        p
          em *This offer cannot be used in conjunction with any other offer.
  br
  hr
  br
  .container-fluid
    .row
      .col-12.col-md-6
        img(src='https://d9qzjwuieyamt.cloudfront.net/5.2.23/res/images/_jpg/store/10-off-oap.jpg?20171207190136').img-fluid
        br
        br
      .col-12.col-md-6
        img(src='https://d9qzjwuieyamt.cloudfront.net/5.2.23/res/images/_jpg/store/free-kids-instore.jpg?20171207190136').img-fluid
        br
        br
  .store-grey-background
    .container-fluid
      .row
        .col-12.col-md-5.col-lg-4.text-center
          img(src='https://d9qzjwuieyamt.cloudfront.net/5.2.23/res/images/_jpg/store/store-oct.jpg?20171207190136').img-fluid
        .col-12.col-md-7.col-lg-8
          p.large
            strong OCT - Optical Coherence Tomography
          p.oct
            | We have recently invested in a revolutionary piece of diagnostic equipment that can detect a number of key eye conditions, such as glaucoma, age related macular degeneration (AMD) and diabetic retinopathy during a routine eye test. This piece of equipment is called 3D Optical Coherence Tomography system (3D OCT).
            br
            br
            strong
              | For more information, please see our&nbsp;
              router-link(to='/info/eye-testing-advanced-oct-optical-coherence-tomography/').blue-hovered-link.underlined-link OCT Information
              |  page or ask in store for details.
