#main-page.page
  PageHeader

  main
    Breadcrumbs.mb-md-3.mb-lg-0
    PageBanner
    ExcellentRating
    Banner.d-lg-none
    BrandsCarousel.d-none.d-lg-block
    NavAccordion.d-lg-none
    QuickLinks.d-none.d-lg-block
    StaffPicks
    // Trivia
    Description
    TrustpilotWidget

  PageFooter
  ScrollToTop
