#offerModal(tabindex='-1', role='dialog', aria-hidden='true').modal.small
  .modal-dialog
    .modal-content
      .modal-header
        button(data-dismiss='modal', aria-label='Close', type='button').close
          span(aria-hidden='true') ×
      .modal-body
        .container
          .row.text-left
            .col-12.col-md-6
              p
                strong Offer Details
              p.small
                | *Offer applies to Single Vision glasses only with the following prescription ranges:
                br
                br
                strong Sphere (SPH):
                |  +6.00 to -6.00
                br
                strong Cylindrical (CYL):
                |  +2.00 to -2.00
                br
                br
                |  For other prescription ranges or if you would like a tint, these frames can be found in our
                a.black_ul(href='/glasses/prescription/economy/c102/') Economy Collection
                | .
              br
            .col-12.col-md-6
              p
                strong Try us today - Why buy from us?
              p.small
                i.fi-check.green
                |    10 years online
              p.small
                i.fi-check.green
                strong &nbsp;&nbsp;&nbsp;No Risk
                | . If you're not 100% satisfied, we'll give you your money back!
              p.small
                i.fi-check.green
                strong &nbsp;&nbsp;&nbsp;FREE
                |  prescription lenses
              p.small
                i.fi-check.green
                strong &nbsp;&nbsp;&nbsp;FREE
                |  standard coatings
              p.small
                i.fi-check.green
                strong &nbsp;&nbsp;&nbsp;5 star
                |  Trust Pilot rating
              p.small
                i.fi-check.green
                |    UK call centre (+44 (0)3303 801 190)
