section.description(style="line-height: 1.6;")
  .container-fluid
    .row
      .col-12.text-center
        br
        h5.h1(style="line-height: 1.4;") Designer sunglasses online
        hr.short-hr.my-4.d-none.d-lg-block
        p
          | Finding the right pair of sunglasses to suit you can be a bit of a minefield, fear not, as SelectSpecs.com have a great range of aviator, wayfarer, or sport & cycling style sunglasses from over 200 designer brands including Oakley and Ray-Ban. Many of our designer sunglasses are suitable for prescription lenses so you can look cool in your new Ray-Bans while having perfect crystal clear vision.
          br
          br
          | We also offer&nbsp;
          strong FREE
          |  worldwide delivery for orders over&nbsp;
          strong {{calculatePrice(2819.25/33.47, false, true)}}
          | .
          br
          br
          |  If you're not sure about buying glasses online, give us a call on (UK) 
          strong
            a(href='tel:03303801190') 03303 801 190
          |  and one of our friendly customer service advisers will be happy to take your order over the phone.
          br
          br
          br
          strong Want to buy your sunglasses in store?
          br
          |  We have a great selection of frames and sunglasses available. You can find out more about our&nbsp;
          router-link#storeLink(to='/store/').blue-ul high street store and opticians here
          | .
        br
    .row
      .col-12.text-center
        ShareButtons
        br
        br
  hr.d-none.d-lg-block
