.nav-item {
  position: relative;
  background-color: #d3d3d3;
  font-size: .75rem;
  font-weight: 400;
  &:hover, &:active, &:focus {
    background-color: silver;
    border-color: transparent;
    .subnav-dropdown {
      display: block;
    }
  }

  .nav-link {
    padding: .7rem 1.3rem;
    width: 225px;
    line-height: 1;
    border-color: transparent;
    &, &:hover, &:focus {
      color: #000;
      border-color: transparent;
    }

    &.has-separator {
      border-bottom: 1px solid #c0c0c0;
    }
    i.fa-caret-right {
      float: right;
      font-size: 1rem;
      line-height: .75;
    }
  }

  .subnav-dropdown {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 99;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
    background-color: #d3d3d3;
    li:hover {
      background-color: silver;
    }
  }
}
