#360Modal(tabindex='-1', role='dialog', aria-hidden='true').modal.fade
  .modal-dialog(role='document').centered
    .modal-content.text-center
      button#360ModalClose(type='button',
      data-dismiss='modal',
      aria-label='Close').close
        span ×
      .modal-body
        .mx-auto
          .text-left
            p.large View 360° Image
            p.small
              em You can rotate the image by clicking on the image and moving your mouse left or right.
            br
            div#block360
