section.guides
  .container-fluid
    .row
      .col-12.text-center
        br
        img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/icons/general/icon-goggle-guide.png?20171002142954")
        .text-wrapper
          strong.large Guide to Goggles
          p Not sure what goggles are best for you and your sport?
          p Don't worry, our&nbsp;
            router-link#guideLink(to="/guides/ski-mx-goggles/").blue-ul handy guide
            | &nbsp;will help you.
        br
  hr
