.sidebar-text {
  padding: .25rem;
  line-height: 2;
  .orange-text {
    color: #fc4c02;
    font-size: .8rem;
  }
}

.sidebar-menu-wrapper {
  height: 450px;
  width: 250px;
  position: relative;
  overflow: hidden;
  background-color: #333;
}
.sidebar-links-wrapper {
  .fa {
    display: inline-block;
    vertical-align: middle;
    margin-right: .25rem;
  }
}
