section.payments.py-3
  .container-fluid
    #paymentIcons.row.flex-wrap.justify-content-center
      .pay-sprite.visa
      .pay-sprite.master
      .pay-sprite.maestro
      .pay-sprite.paypal
      .pay-sprite.secure
