@import '../../_Styles/mixins';

#items {
  @include desktop {
    margin: 0 0 1rem;
    padding: .3rem 0;
  }
  @include desktop-down {
    margin: 0 -4px 1rem;
  }
  .shop-item {
    padding: 0 .25rem;
    margin-bottom: .5rem;
    .item-wrapper {
      position: relative;
      text-align: center;
      background-color: #fff;
      border: 1px solid #fff;
      padding: 1rem .2rem;
      transition: border-color .25s ease-out, color .25s ease-out;
      cursor: pointer;
      @include tablet-down {
        padding: 1.5rem 1rem;
      }
      &:hover {
        border: 1px solid #ffa200;
        .accent-button, .item-buttons {
          opacity: 1;
        }
        @include tablet-down {
          .item-designer-name {
            color: #258faf;
          }
        }
      }
      a {
        &:hover {
          text-decoration: none;
          color: #000;
        }

        .item-feature {
          margin: 0;
          padding: 0;
          z-index: 3;
          position: absolute;
          width: 45px;
          height: 45px;
          left: 0;
          top: 0;
          background: url('/static/layout-sprite-uk.png');
          background-size: 500px;
        }
        .new-item {
          background-position: -50px -209px;
        }
        .sale-item {
          background-position: 0 -209px;
        }
        .two-for-one-item {
          background-position: -98px -209px;
        }
        .item-prescription {
          position: absolute;
          top: 0;
          right: 0;
          font-size: .65rem;
          padding: .1rem .25rem;
          background-color: #ecf0f1;
        }

        .item-designer-name {
          font-weight: 700;
          font-size: .85rem;
          margin-bottom: .5rem;
          @include desktop-down {
            width: 100%;
            font-size: .8rem;
            line-height: .75rem;
          }
        }

        .item-description {
          height: .9rem;
          font-size: .7rem;
          line-height: .9rem;
          color: #707070;
        }

        $options-height: .875rem;
        .item-no-options {
          height: $options-height;
        }
        .item-options {
          width: 100%;
          font-size: .7rem;
          line-height: .65rem;
          color: #545454;
          margin: -0.25rem 0 .5rem;
          font-style: italic;
        }

        .item-price {
          margin-bottom: .25rem;
          .was {
            text-decoration: line-through;
            margin: 0 .25rem 0 0;
            @include tablet-down {
              font-size: .7rem;
              color: #999;
            }
            @include tablet {
              font-size: .75rem;
              line-height: .8rem;
              color: #48647c;
            }
          }
          .now {
            color: #8d0e00;
            @include tablet-down {
              font-size: .9rem;
              font-weight: bold;
            }
            @include tablet {
              font-size: 1.2rem;
            }
          }
        }

        .item-advantages {
          font-size: .7rem;
          line-height: .9rem;
          color: #707070;
          width: 100%;
          margin-bottom: .2rem;
          text-align: center;
        }

        $rating-height: 1.125rem;
        .item-no-rating {
          height: $rating-height;
        }
        .item-rating {
          font-size: .7rem;
          color: #000;
          width: 6rem;
          opacity: .6;
          cursor: pointer;
          .stars {
            height: $rating-height;
            background-image: url('/static/layout-sprite.png');
            background-size: 750px;
            background-position: 0 -157px;
            background-repeat: no-repeat;
            span {
              line-height: 1.5;
            }
          }
        }

        .accent-button {
          visibility: hidden;
          &:focus, &:hover {
            color: #fff;
          }
        }
      }
      .item-buttons {
        transition: opacity 0.3s ease-in-out;
        @include largeDesktop-down {
          opacity: 1;
        }
        @include largeDesktop {
          opacity: 0;
        }
        .cat-button {
          color: #d03e00;
          background-color: transparent;
          border: 1px solid #fc4c02;
          height: 34px;
          font-weight: normal;
          text-transform: none;
          padding: .5rem;
          margin: 0 .25rem;
          border-radius: 3px;
          cursor: pointer;

        }
        .details-button {
          a {
            color: #d03e00;
          }
          &:hover, &:focus {
            background-color: #d03e00;
            a {
              color: #fff;
            }
          }
        }
        .wishlist-button {
          border-color: transparent;
          &:hover, &:focus {
            border-color: #fc4c02;
          }
        }
      }

      .wish-enable {
        background-color: orange;
      }
      .wish-desible {
        background-color: white;
      }
    }
  }
}
