section.staff-picks.pt-4.pb-2.py-lg-5
  .container-fluid
    .row
      .col-12.text-center
        h2.main-header Staff Picks
        p.small.d-none.d-lg-inline-block Just a few of our favourites to help inspire you.
        hr.short-hr.d-none.d-lg-block
        .container-fluid.d-none.d-lg-block.px-0
          .row.mb-3
            .col-12.col-md-4
              router-link(to='/glasses/ray-ban/rx5154-clubmaster-1-2/ss110.02.html')
                img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/banners/home/staff-picks/ray-ban-rx5184.jpg?20171030191515")
            .col-12.col-md-4
              router-link(to='/glasses/savannah/2439-red-and-black/ss1600.40.html')
                img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/banners/home/staff-picks/savannah-2439-red.jpg?20171030191515")
            .col-12.col-md-4
              router-link(to='/glasses/oakley/ox8090-crosslink-mnp-trubridge/ss601.35.html')
                img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/banners/home/staff-picks/oakley-crosslink-trubridge.jpg?20171030191515")
            .col-12.col-md-4
              router-link(to='/glasses/just-cavalli/jc0751/ss456.49.html')
                img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/banners/home/staff-picks/just-cavalli-jc0751.jpg?20171030191515")
            .col-12.col-md-4
              router-link(to='/glasses/oliver-peoples/ov5186-gregory-peck/ss2824.06.html')
                img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/banners/home/staff-picks/oliver-peoples-gregory-peck.jpg?20171030191515")
            .col-12.col-md-4
              router-link(to='/glasses/celine/cl-41408/ss2508.57.html')
                img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/banners/home/staff-picks/celine-41408.jpg?20171030191515")

        .swiper-container(v-swiper:swiper="swiperOption", aria-label='Featured Glasses').d-lg-none
          .swiper-wrapper
            router-link(to='/glasses/ray-ban/rx5154-clubmaster-1-2/ss110.02.html').swiper-slide
              img.img-fluid.mx-auto(src='https://d9qzjwuieyamt.cloudfront.net/res/images/banners/home/staff-picks/ray-ban-rx5184.jpg?20171030191515', alt='Ray-Ban RX5184 Clubmaster')
            router-link(to='/glasses/savannah/2439-red-and-black/ss1600.40.html').swiper-slide
              img.img-fluid.mx-auto(src='https://d9qzjwuieyamt.cloudfront.net/res/images/banners/home/staff-picks/savannah-2439-red.jpg?20171030191515', alt='Savannah 2439 Red')
            router-link(to='/glasses/oakley/ox8090-crosslink-mnp-trubridge/ss601.35.html').swiper-slide
              img.img-fluid.mx-auto(src='https://d9qzjwuieyamt.cloudfront.net/res/images/banners/home/staff-picks/oakley-crosslink-trubridge.jpg?20171030191515', alt='Oakley Crosslink Trubridge')
            router-link(to='/glasses/just-cavalli/jc0751/ss456.49.html').swiper-slide
              img.img-fluid.mx-auto(src='https://d9qzjwuieyamt.cloudfront.net/res/images/banners/home/staff-picks/just-cavalli-jc0751.jpg?20171030191515', alt='Just Cavalli JC0751')
            router-link(to='/glasses/oliver-peoples/ov5186-gregory-peck/ss2824.06.html').swiper-slide
              img.img-fluid.mx-auto(src='https://d9qzjwuieyamt.cloudfront.net/res/images/banners/home/staff-picks/oliver-peoples-gregory-peck.jpg?20171030191515', alt='Oliver Peoples OV5186 GREGORY PECK')
            router-link(to='/glasses/celine/cl-41408/ss2508.57.html').swiper-slide
              img.img-fluid.mx-auto(src='https://d9qzjwuieyamt.cloudfront.net/res/images/banners/home/staff-picks/celine-41408.jpg?20171030191515', alt='Celine 41408')
          button.slick-prev.slick-left.slick-arrow.slick-triangle(aria-label="Previous") Previous
          button.slick-next.slick-right.slick-arrow.slick-triangle(aria-label="Next") Next
          ul.slick-dots.white-dots

