#sidebarNav(data-position="left").sidebar
  .sidebar-text.text-left
    span.font-weight-bold.orange-text.mx-1 Shop
    router-link(to="{name: 'Main'}").mx-1.home-link Home »
    i#menuCloseButton(data-target="#sidebarNav",
    aria-expanded="false").btn.mx-2.close-slideout ×
  VerticalMenu
