.guides {
  background-color: #f4f4f5;
  .guide-wrapper {
    background-color: white;
    padding: 0 0 2.5rem;
    margin: 1rem 0 0;
    height: 100%;
    .text-wrapper {
      padding: 0;
      height: auto;
    }
    img {
      margin-bottom:2.25rem;
    }
    .big-button {
      background-color: #fff;
    }
  }
}
