a {
  transition: all .2s ease-in-out;
  &:hover:not(.plus) {
    transform: translateY(-4px);
  }
  .icon-wrapper {
    height: 32px;
    width: 32px;
    line-height: 32px;
    color: white;
    text-align: center;
  }
}
