  <div class="hello">
    <h1>{{ msg }}</h1>
    <h2>Components:</h2>
    <ul>
      <li><a href="/login">Login</a></li>

      <li><a href="/profile/edit">Profile: edit</a></li>

      <li><a href="/user/settings">User: settings</a></li>

      <li><a href="/account/orders">Profile: orders</a></li>

      <li><a href="/products">ProductList</a></li>

      <li><a href="/basket">Basket</a></li>

      <li><a href="/prescription/select_use">Prescription: SelectUse</a></li>

      <li><a href="/prescription/prescriptions">Prescriptions</a></li>

      <li><a href="/prescription/lens_type">LensType</a></li>

      <li><a href="/prescription/lens_options">Prescription: LensOptions</a></li>

      <li><a href="/wishlist">Wishlist</a></li>
    </ul>
  </div>
