.row.row-eq-height.text-center.mb-5
  .col-12.col-md-6.col-lg-4
    .help-guide-box
      p
        img(src='https://d9qzjwuieyamt.cloudfront.net/5.2.23/res/images/banners/featured-pages/hub-index/guide-to-lenses.jpg?20171206101624').img-fluid
      p.large
        strong Buying Guides
      p.small View our guide to helping you choose the right product for you.
      br
      p
        router-link(to='/guides/').btn.big-button View Guides »
  .col-12.col-md-6.col-lg-4
    .help-guide-box
      p
        img(src='https://d9qzjwuieyamt.cloudfront.net/5.2.23/res/images/banners/featured-pages/hub-index/health-diabeticretinopathy.jpg?20171206101624').img-fluid
      p.large
        strong Eye Health & Advice
      p.small
        | View our central resource of eye health information to help explain different eye conditions.
      br
      p
        router-link(to='/eye-health/').btn.big-button More »
  .col-12.col-md-6.col-lg-4
    .help-guide-box
      p
        img(src='https://d9qzjwuieyamt.cloudfront.net/5.2.23/res/images/banners/featured-pages/hub-index/help-fashion-lifestyle.jpg?20171206101624').img-fluid
      p.large
        strong Fashion & Lifestyle
      p.small Keep up to date with the latest eyewear trends and fashion news.
      br
      p
        router-link(to='/fashion-lifestyle/').btn.big-button View Magazine »
