.fixed-top {
  left: initial;
  right: initial;
  overflow-y: scroll;
  height: 100vh;
}
.sidebar-text {
  padding: .25rem 0 .25rem .5rem;
  background-color: #111111;
  line-height: 2;
  .orange-text {
    color: #fc4c02;
    font-size: .8rem;
  }
  .home-link {
    cursor: pointer;
    font-size: .8rem;
    text-decoration: underline;
    &, &:hover, &:active, &:visited {
      color: #fff;
    }
    &:hover, &:active {
      text-decoration: none;
    }
  }
  #menuCloseButton {
    float: right;
    line-height: 1;
    font-size: 2em;
    font-weight: 700;
    color: #d20000;
    cursor: pointer;
    padding:0;
  }
}
