#kidsPage.page
  PageHeader

  .loading(v-if="loading")
  main.kids-glasses-wrapper
    Breadcrumbs
    Preview
    Tips
    Designers
    div(style="padding: 2rem 0;background-color: #fafafa;border-top: 1px solid #e6e6e6;")
      TrustpilotWidget

  PageFooter
