#sizeGuideModal(tabindex='-1', role='dialog', aria-hidden='true').modal.fade
  .modal-dialog(role='document').centered
    .modal-content
      button#sizeGuideModalClose(type='button',
      data-dismiss='modal',
      aria-label='Close').close
        span ×
      .modal-body
        .modal-inner.text-left
          h2.text-center
            strong Help with frame sizes
          p.small
            | Finding the correct frame size to suit you requires you to know a little about the different measurements that are used.  Size information is normally broken down in to arm / temple length (ranges between 120 - 150mm), bridge width (ranges between 14 - 24mm, and lens width (ranges between 40 - 62mm).  We also include a frame height measurement where possible, this can vary depending on frame style.
            br
            br
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item.w-100(allowfullscreen,
                frameborder='0',
                src='https://www.youtube.com/embed/TuXo8opfvGI?rel=0')
          p.small
            br
            br
            |  If you require further help, please do not hesitate to contact our customer service team on&nbsp;
            strong 03303 801 190
            |  (Mon - Fri, 9am - 17.30pm) for further assistance.
          br
          h3.product-header I already have glasses, how do I find out their size?
          p.small
            | If you have a pair of glasses that are a perfect fit, you can usually find the frame size information on the frame - usually on the arm or the bridge.
          p
            img.img-fluid(src='https://d9qzjwuieyamt.cloudfront.net/res/images/help/size-guide/frame_dimensions.png?20171106165029', alt='Size Guide - Frame Dimensions')
          br
          h3.product-header What to look for?
          p.small
            strong What to look for?
            br
            |  You will often find a variety of information on the frame, including model number, branding and frame sizing. The numbers you are looking for will be similar to this format
            strong 150 - 22 - 50
            |  although this can vary from manufacturer to manufacturer.  These numbers provide the following information:-
            br
            br
            strong 150
            | &nbsp;- Arm / temple size (in mm), a 3 digit value normally ranging from 120 - 150.
            br
            strong 22
            | &nbsp;- Bridge size (in mm), a 2 digit value normally ranging from 14 - 24.
            br
            strong 50
            | &nbsp;- Lens width (in mm), a 2 digit value normally ranging from 40 - 62.
          br
          h3.product-header I want a size that's not listed
          p.small
            | We do our best to ensure we stock all available items from all our supplied brands so if an item is not listed it may be out of stock or discontinued. If you do not see the frame size you require please contact us through our Customer Services system where we will try to assist you.
            br
            br
            a.blue-ul(href='/guides/how-to/find-right-sized-glasses/') More about frame sizes »
