section.brands
  .slider-wrapper.container-fluid.py-3
    .row
      div(v-swiper:mySwiper="swiperOption").swiper-container
        .swiper-wrapper.col-12.mx-auto.py-2
          .swiper-slide
            router-link(to="/glasses/prescription/tiffany-co-/d31593/")
              img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/_png/brand/tiffany.png?20170829201433")
          .swiper-slide
            router-link(to="/glasses/prescription/ray-ban/d43/")
              img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/_png/brand/ray-ban.png?20170829201433")
          .swiper-slide
            router-link(to="/glasses/prescription/oakley/d391/")
              img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/_png/brand/oakley.png?20170829201433")
          .swiper-slide
            router-link(to="/glasses/prescription/mont-blanc/d285/")
              img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/_png/brand/mont-blanc.png?20170829201433")
          .swiper-slide
            router-link(to="/glasses/prescription/tom-ford/d284/")
              img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/_png/brand/tom-ford.png?20170829201433")
          .swiper-slide
            router-link(to="/glasses/prescription/prada/d111/")
              img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/_png/brand/prada.png?20170829201433")
          .swiper-slide
            router-link(to="/glasses/prescription/oliver-peoples/d31936/")
              img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/_png/brand/oliver-peoples.png?20170829201433")
          .swiper-slide
            router-link(to="/glasses/prescription/dior/d61/")
              img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/_png/brand/dior.png?20170829201433")
          .swiper-slide
            router-link(to="/glasses/prescription/jimmy-choo/d395/")
              img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/_png/brand/jimmychoo.png?20170829201433")
          .swiper-slide
            router-link(to="/glasses/prescription/michael-kors/d409/")
              img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/_png/brand/michaelkors.png?20170829201433")
          .swiper-slide
            router-link(to="/glasses/prescription/celine/d31595/")
              img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/_png/brand/celine.png?20170829201433")
          .swiper-slide
            router-link(to="/glasses/prescription/boss-hugo-boss/d246/")
              img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/_png/brand/boss.png?20170829201433")
          .swiper-slide
            router-link(to="/glasses/prescription/chopard/d423/")
              img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/_png/brand/chopard.png?20170829201433")
          .swiper-slide
            router-link(to="/glasses/prescription/william-morris-london/d31571/")
              img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/_png/brand/williammorris.png?20170829201433")
          .swiper-slide
            router-link(to="/glasses/prescription/barbour/d31782/")
              img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/_png/brand/barbour.png?20170829201433")
          .swiper-slide
            router-link(to="/brands/")
              img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/_png/brand/view-all-brands.png?20170829201433")
        .swiper-button-prev
        .swiper-button-next
      // Slick(ref="slick", :options="slickOptions").col-12.mx-auto.py-2
        router-link(to="/glasses/prescription/tiffany-co-/d31593/")
          img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/_png/brand/tiffany.png?20170829201433")
        router-link(to="/glasses/prescription/ray-ban/d43/")
          img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/_png/brand/ray-ban.png?20170829201433")
        router-link(to="/glasses/prescription/oakley/d391/")
          img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/_png/brand/oakley.png?20170829201433")
        router-link(to="/glasses/prescription/mont-blanc/d285/")
          img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/_png/brand/mont-blanc.png?20170829201433")
        router-link(to="/glasses/prescription/tom-ford/d284/")
          img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/_png/brand/tom-ford.png?20170829201433")
        router-link(to="/glasses/prescription/prada/d111/")
          img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/_png/brand/prada.png?20170829201433")
        router-link(to="/glasses/prescription/oliver-peoples/d31936/")
          img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/_png/brand/oliver-peoples.png?20170829201433")
        router-link(to="/glasses/prescription/dior/d61/")
          img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/_png/brand/dior.png?20170829201433")
        router-link(to="/glasses/prescription/jimmy-choo/d395/")
          img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/_png/brand/jimmychoo.png?20170829201433")
        router-link(to="/glasses/prescription/michael-kors/d409/")
          img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/_png/brand/michaelkors.png?20170829201433")
        router-link(to="/glasses/prescription/celine/d31595/")
          img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/_png/brand/celine.png?20170829201433")
        router-link(to="/glasses/prescription/boss-hugo-boss/d246/")
          img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/_png/brand/boss.png?20170829201433")
        router-link(to="/glasses/prescription/chopard/d423/")
          img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/_png/brand/chopard.png?20170829201433")
        router-link(to="/glasses/prescription/william-morris-london/d31571/")
          img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/_png/brand/williammorris.png?20170829201433")
        router-link(to="/glasses/prescription/barbour/d31782/")
          img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/_png/brand/barbour.png?20170829201433")
        router-link(to="/brands/")
          img.img-fluid(src="https://d9qzjwuieyamt.cloudfront.net/res/images/_png/brand/view-all-brands.png?20170829201433")
