#logout-page.page
  PageHeader

  .loading(v-if="loading")
  main
    section
      .container-fluid
        .row
          .col-12
            .text-center
              em Wait Logout ...
  PageFooter
