section.col-12.col-md-8.col-lg-9.info-main
  .row
    .col-12
      br
      h1.black Help & Information
      p Quickly get to the most popular information areas of our website below
  br
  InfoPopular
  hr.d-none.d-md-inline-block
  br.d-md-none
  InfoLinks
  .d-none.d-md-block
    hr
    br
    InfoGuides
