.sales-links {
  .links-panel {
    background: #f7f5f6;
    margin: 1.4rem 0;
    height: 11rem;
    .text {
      width: 100%;
      text-align: center;
      .big-text {
        font-size: 3.75rem;
        line-height: 3.5rem;
        color: #2d3e50;
      }
    }
  }
}
