#main-page.page
  PageHeader
  main
    // FlashMessage
    HomepageBanner
    ExcellentRating
    GlassesTypes.d-none.d-lg-block
    Sales
    NavAccordion.d-lg-none
    More.d-lg-none
    BrandsCarousel
    StaffPicks.d-none.d-lg-block
    Guides.d-none.d-lg-block
    AdvantagesList
    div(style="padding: 2rem 0;background-color: #fafafa;border-top: 1px solid #e6e6e6;")
      TrustpilotWidget
  PageFooter
  ScrollToTop
