#main-page.page
  PageHeader

  main
    Breadcrumbs
    PageBanner
    ExcellentRating
    NavAccordion.d-lg-none
    LensesTypes.d-none.d-lg-block
    PackDeals
    GuidesToContactLenses
    Description
    div(style="padding: 2rem 0;background-color: #fafafa;border-top: 1px solid #e6e6e6;")
      TrustpilotWidget

  PageFooter
  ScrollToTop
