section.lenses-types
  .container-fluid.py-3
    .row.row-eq-height.text-center
      .col-12.col-md-6.col-lg-3
        .type-wrapper
          p
            img(src='https://d9qzjwuieyamt.cloudfront.net/5.2.23/res/images/banners/home/coloured-contact-lenses.jpg?20171207190136').img-fluid
          p.largest Coloured Lenses
          p.small Add a sparkle to your eye colour with our range of coloured contact lenses.
          br
          p
            router-link(to='/contact-lenses/colored-contact-lenses/c223/').btn.big-button Shop Now »
      .col-12.col-md-6.col-lg-3
        .type-wrapper
          p
            img(src='https://d9qzjwuieyamt.cloudfront.net/5.2.23/res/images/banners/home/toric-contact-lenses.jpg?20171207190136').img-fluid
          p.largest Toric / Astigmatism
          p.small Lenses to correct an astigmatism caused by an irregular curvature of the cornea.
          br
          p
            router-link(to='/contact-lenses/toric-astigmatic-lenses/c226/').btn.big-button Shop Now »
      .col-12.col-md-6.col-lg-3
        .type-wrapper
          p
            img(src='https://d9qzjwuieyamt.cloudfront.net/5.2.23/res/images/banners/home/multifocal-contact-lenses.jpg?20171207190136').img-fluid
          p.largest Multifocal Lenses
          p.small Designed to allow different lens powers that target vision at varying distances.
          br
          p
            router-link(to='/contact-lenses/multifocals/c222/').btn.big-button Shop Now »
      .col-12.col-md-6.col-lg-3
        .type-wrapper
          p
            img(src='https://d9qzjwuieyamt.cloudfront.net/5.2.23/res/images/banners/home/extended-contact-lenses.jpg?20171207190136').img-fluid
          p.largest Extended Wear Lenses
          p.small Typically designed to be worn continuously for up to six nights and seven days.
          br
          p
            router-link(to="//contact-lenses/extended-wear-lenses/c255/").btn.big-button Shop Now »
